[2021-12-18 19:05] adolfotregosa opened #1 "Not appearing in integrations"
fixed

[2021-12-18 19:07] #1 closed

[2021-12-22 09:23] HVPereira opened #2 "Does this library support multiple devices?"
Hello I'm thinking on changing to this library but i have 4 dehumidifiers, so i was wondering if I can change.

[2021-12-22 11:28] HVPereira commented on #2
Great news, does this mean i can block internet access to my Humidifiers after installing your component?

Best Regards,
HP

[2021-12-22 12:05] nbogojevic commented on #2
It should be so. Cloud access is only needed during discovery phase and to retrieve local access tokens. I don't think that tokens expire, so there should not be need for internet access. However I'm not sure what happens if local IP addresses change - my devices usually have reserved DHCP address.

[2021-12-22 14:30] HVPereira commented on #2
I have the same scenario as you. I will test this integration and come back to you. My preliminary test showed me that I was able to add only 2 of my dehumidifiers and it is failing to call service whenever i try to turn them on or off :( I will try to return with more details thank you so much for the support.

[2021-12-22 14:41] HVPereira commented on #2
I have the following error:

![image](https://user-images.githubusercontent.com/5346125/147109741-8a05ab2e-ed89-40d1-8c41-3d0d46379753.png)

[2021-12-22 14:47] HVPereira commented on #2
I've also noticed that I'm not able to turn on or off the dehumidifier with the custom package it seems it is having some timeouts with the connections.
Just some logs I've captured:

2021-12-22 14:42:44 ERROR (SyncWorker_1) [midea_beautiful_dehumidifier.lan] Connection error: id=31885837508275 ip=192.168.2.211:6444 version=3 for timed out
Traceback (most recent call last):
  File "/usr/local/lib/

[2021-12-22 15:11] HVPereira commented on #2
Ok I rebooted my dehumidifier and it worked back :)

However another point! Sorry for being so many queries. I saw that the status of the humidifier is always set to true shouldn't it update according to the state of the dehumidifier? It is able to turn on and off according the humidifier.turn_on and humidifier.turn_off. But the state of the humidifier never reflects that as the example below:

![

[2021-12-22 15:17] nbogojevic commented on #2
I will publish new version today, so you may test that one. There is indeed bug with turn_on/turn_off.
And thanks a lot for testing.

[2021-12-22 15:25] HVPereira commented on #2
Thanks a lot! I will keep you posted by the way it works with 4 dehumidifiers 👍  well done!

[2021-12-22 20:12] kramttocs opened #3 "Minimum is 40 but needs to be 35"
The min and max for the unit are 35% to 85% but the integration bottoms out at 40.

Thanks

[2021-12-22 22:48] nbogojevic commented on #3
Should be fixed in v0.3.0 (https://github.com/nbogojevic/homeassistant-midea-dehumidifier-lan/commit/c37b4487b07d6be3b40f9c7e626715050af2c8fc)

[2021-12-22 22:49] nbogojevic commented on #2
New release has been published (v0.3.0) and it should support correctly turn_on, turn_off.

[2021-12-23 01:05] kramttocs commented on #3
Great! Excellent work on this

[2021-12-23 09:13] #3 closed

[2021-12-23 10:20] HVPereira commented on #2
Hi, yes it fixed! :) There is a small delay till Home assistant acknowledges the machine state but it is fine for me! You are a machine! :) Thanks a lot really!

[2021-12-24 03:08] adolfotregosa opened #4 "Add support for "Inventor Control" account"
Hi.

Could you see if it is possible to add support for "inventor control" app account ? My Inventor eva ion pro model EP3-WIFI20L uses that app. The dehumidifier puts out an smartlife-xxxx AP not a net-xx... and the midea app does not find it. Can you have a look, please?

Thank you

[2021-12-24 13:38] nbogojevic commented on #4
I think Inventor control is a variant of Tuya Smart, I'm not sure it easy to support it, it probably uses different protocol.

[2021-12-24 13:48] adolfotregosa commented on #4
Indeed, tuya smart app also works with it but integration in home assistant is not polished at all. I'll probably gonna open the dehumidifier and change the wifi for an esp and make it locally. I hate these cloud based sh*t.. thank you for your time

[2021-12-24 13:57] nbogojevic commented on #4
You can try to register it with NetHome Plus or Mide Air apps. This integration works with cloud provider behind those (midea).

[2021-12-24 13:59] adolfotregosa commented on #4
I did try but apps will not find the dehumidifier. Oh well.

[2021-12-24 13:59] #4 closed

[2021-12-24 14:14] nbogojevic commented on #4
If you have a dummy account on one of those appliances, you can try to use discovery from library: https://github.com/nbogojevic/midea-beautiful-dehumidifier to see if appliance responds to discovery packets

With version version 0.4.1 it might even discover them without account (YMMV):

[code]

[2021-12-24 14:39] adolfotregosa commented on #4
problem is that I cannot add the dehumidifier to any account, it is not discovered.
On Dec 24 2021, at 2:14 pm, Nenad Bogojevic ***@***.***> wrote:

[2021-12-25 05:58] kramttocs opened #5 "Mode labels are incorrect"
The modes are incorrectly labeled.

Normal       should be        Set
Boost           should be       Max
Comfort        should be      Continuous

[2021-12-25 06:07] kramttocs opened #6 "Fan Toggle Doesn't Function"
The fan toggle doesn't actually do anything besides throwing an error.
As far as I know the fan can't be turned off, only Low and High.
Would be nice to have this reflect and control the Low/High fan speed.

Bought two more of these dehumidifiers all because of this integration. Thanks a lot!

[2021-12-25 06:08] kramttocs opened #7 "Pump entity"
For the 50 pint with pump, it would be nice to see and control the pump setting via a toggle entity.

[2021-12-25 06:11] kramttocs opened #8 "Filter Indicator entity"
Would be nice to see an entity showing the filter status (cleaning needed).

[2021-12-25 11:27] sanderlv opened #9 "Cant install integraton - finds name but not device"
## Version of the custom_component
 0.3.0

## Configuration

[code]

Add your logs here.

![image](https://user-images.githubusercontent.com/16528916/147383941-7d16b97c-4304-4521-84ce-a0c9255f782b.png)

## Describe the bug
I can install the custom component via HACS. I can choose the integration. But I cannot install it.

## Debug log

[code]

I have succesfully used "midea_dehumidfier" custom com

[2021-12-25 14:33] nbogojevic commented on #9
Do you know the IP of your dehumidifier on local network? You can enter it in the field above and it should be recognized.

Normally, the integration looks on local network for devices that answer to query packet. It may be that your dehumidifier is not on same subnet, and in that case this integration can't discover, but if you know IP, you can provide it manually.

If you activate debug logs for

[2021-12-25 14:38] sanderlv commented on #9
It is on same subnet and I know IP... tried that but no luck

[2021-12-25 14:56] nbogojevic commented on #9
If you can get some logs, we may look further. You can also have a look at https://github.com/nbogojevic/midea-beautiful-dehumidifier it has some command line tools for investigating.

[2021-12-25 21:03] user45876 commented on #9
I am having the same issue. The ip is known and online. This is getting logged in HA:

Dieser Fehler wurde von einer benutzerdefinierten Integration verursacht

Logger: aiohttp.server
Source: custom_components/midea_dehumidifier_lan/config_flow.py:92
Integration: Midea Dehumidifier (LAN) (documentation, issues)
First occurred: 21:57:28 (4 occurrences)
Last logged: 21:58:32

Error handling request

[2021-12-25 21:46] PskNorz opened #10 "Inventor EVA II PRO EP3-WiFi20L supported?"
Hello

Does Inventor EVA II PRO EP3-WiFi20L supported?

[2021-12-26 16:53] nbogojevic commented on #9
@user45876 can you check the firmware of the device in your Midea app?

Meanwhile, I'm going to try to add protocol v2 support, but I'm afraid I can't test it as I have only v3 appliances. Would you be interested in beta testing it?

[2021-12-26 17:16] user45876 commented on #9
@nbogojevic Of course, I would be glad and honored.
Firmware is 056004051538 .

[2021-12-27 00:08] nbogojevic commented on #10
Hi @PskNorz, if it is running firmware v3 or later it should work (e.g. v3.0.8). For previous versions, not at the moment. I'm working on adding v2 support, but I can't test it as all my devices are v3.

[2021-12-27 00:09] nbogojevic commented on #8
Thanks @kramttocs for proposal. I've included it in v0.5.0 of https://github.com/nbogojevic/midea-beautiful-dehumidifier so it will soon land here too.

[2021-12-27 00:10] nbogojevic commented on #7
Thanks @kramttocs for proposal. I've included it in v0.5.0 of https://github.com/nbogojevic/midea-beautiful-dehumidifier so it will soon land here too. There are however are two fields for pump control: a switch and a flag. I'm not sure what flag does, so currently I'm supporting only switch.

[2021-12-27 00:11] nbogojevic commented on #5
Thanks @kramttocs for proposal. I'll include modes as Set, Continuous and Dry as that correspond to what my dehumidifier does. I hope that is good for you.

[2021-12-27 00:17] nbogojevic commented on #6
New version will support fan presets: `low`, `medium` and `turbo` corresponding to 40%, 60% and 80% of speed, and the switch will be `off` when in `low` preset and `on` otherwise.

[2021-12-27 00:26] kramttocs commented on #5
Sounds good. Thanks!

[2021-12-27 00:27] kramttocs commented on #7
Switch makes sense to make. Great work

[2021-12-27 16:52] oadslug commented on #6
I'm sure you already know, but here is the error, if needed.

[code]

[2021-12-27 18:46] oadslug opened #11 "Report and feedback"
First, thank you! This is awesome. Anytime we can switch to local LAN control, I'm super happy. Very much appreciate all your hard work. Let me know if I can be of help in any way.

I can confirm that this is working with the Midea 22-pint SmartDry Dehumidifier (MAD22S1WWT). With a couple exceptions noted below. Please note this is not being critical in any way — just feedback. :)

Regarding Modes

[2021-12-27 20:56] oadslug opened #12 "Long delay between service call and state change"
There is a significant delay (~50sec) between calling a service (i.e. `humidifier.turn_on`) and updating the state of the entity. The device command is triggered immediately, but the state does not update until, I'm assuming, the next polling cycle? This may lead to some confusion, as users may think that the button press did not register, and start button mashing (which would send repeated on/off

[2021-12-28 01:43] kskarlatos commented on #10
Hi there, i seem to have a dehumidifier with a version 2 firmware, so i can help with testing. I also commented here
https://github.com/nbogojevic/midea-beautiful-dehumidifier/issues/1#issuecomment-1001249715

[2021-12-28 14:12] nbogojevic commented on #2
Fixed in v0.3.0

[2021-12-28 14:12] #2 closed

[2021-12-28 14:15] nbogojevic commented on #11
Thanks a lot @oadslug for great feedback. I'll be including many of the suggestions in v0.4.0 that should be out today. I'll appreciate any new feedback.

[2021-12-28 15:25] nbogojevic commented on #12
Thanks for report @oadslug . It should be fixed with version v0.4.1.

[2021-12-28 15:26] nbogojevic commented on #8
It should be implemented with version v0.4.1. Note that filter indicator is disabled by default, you need to enabled it manually on device or on entities pages.

[2021-12-28 15:26] nbogojevic commented on #7
It is implemented with version v0.4.1. Note that pump switch is disabled by default, you need to enabled it manually on device or on entities pages.

[2021-12-28 15:27] nbogojevic commented on #9
@user45876 version 0.4.1 should have initial support for v2. As I can't test it, I'd appreciate any feedback.

[2021-12-28 15:27] nbogojevic commented on #10
@kskarlatos version 0.4.1 should have initial support for v2. As I can't test it, I'd appreciate any feedback.

[2021-12-28 15:28] nbogojevic commented on #6
@kramttocs @oadslug It should be working with version v0.4.1.

[2021-12-28 15:29] nbogojevic commented on #11
New version v0.4.1 is out and it includes including: pump switch and filter indicator as well as fan presets. Pump switch and filter indicator are disabled by default and need to be enabled on devices or entities pages.

[2021-12-28 16:08] kskarlatos commented on #10
Hi @nbogojevic , thanks for the update.
it Failed to set up. here are some logs:

`This error originated from a custom integration.

Logger: custom_components.midea_dehumidifier_lan
Source: custom_components/midea_dehumidifier_lan/__init__.py:99
Integration: Midea Dehumidifier (LAN) (documentation, issues)
First occurred: 18:07:00 (1 occurrences)
Last logged: 18:07:00

Appliance Dehumidifier15AF h

[2021-12-28 16:37] nbogojevic commented on #10
thanks @kskarlatos

could you get debug logs for the library via `configuration.yaml`, and then set-up integration again it may help diagnose the problem

[code]

[2021-12-28 17:29] kskarlatos commented on #10
Here are some logs:

2021-12-28 19:25:43 DEBUG (MainThread) [homeassistant.components.websocket_api.http.connection] [139803220902912] Received {'type': 'frontend/get_translations', 'language': 'en', 'category': 'config', 'integration': 'midea_dehumidifier_lan', 'id': 54}
2021-12-28 19:25:43 DEBUG (MainThread) [homeassistant.components.websocket_api.http.connection] [139803220902912] Received {'ty

[2021-12-28 18:40] oadslug commented on #12
Just installed the update. Very responsive now! Thank you.

[2021-12-28 18:40] #12 closed

[2021-12-28 19:23] oadslug commented on #11
Just installed the update. Wow. So many great improvements! Thank you.

Report -
- Had to rewrite some template switches, and input_selects to accommodate the very welcome mode/fan name changes.
- Fan now switches between Silent and Turbo when using on/off switch! Very nice!!! It also switches nicely when using presets ('Silent', 'Turbo').
- Mode mapping is much better now! I like the mode names.

[2021-12-28 19:36] nbogojevic commented on #10
Thanks for the logs @kskarlatos . The good news is that library detected the device and got the status, the problem is in integration code.

[2021-12-28 19:41] nbogojevic commented on #11
Thanks for feedback. The protocol only supports pull method, and by default it should be 30s. I might make it configurable, but I would avoid too much polling.

[2021-12-28 19:43] nbogojevic commented on #10
@kskarlatos : I've just pushed new version v0.4.2. Could you check it?

[2021-12-28 19:45] oadslug commented on #11
Polling works great. Just letting you know what I'm seeing, so you have some reference data. Would not want to poll faster than that. 3 Cheers!

[2021-12-28 19:50] #11 closed

[2021-12-28 20:04] kskarlatos commented on #10
Hi @nbogojevic , thanks for the quick update! it worked, and it found the dehumidifier.
![image](https://user-images.githubusercontent.com/71981441/147602953-5bf4fc58-bffb-44da-8d70-769f9a8ae9ef.png)
some sensors are not working at this time, but it is a good start!

[2021-12-28 20:07] PskNorz commented on #10
same thing

![image](https://user-images.githubusercontent.com/80605468/147603228-46d6295d-77aa-44c0-b5df-4b6c51fd69f0.png)

[2021-12-28 20:28] nbogojevic commented on #10
Could you run again with debug logging enabled and attach the logs?

[2021-12-28 20:36] nbogojevic commented on #5
It is implemented with version v0.4.2.

[2021-12-28 20:36] #5 closed

[2021-12-28 20:41] nbogojevic commented on #9
@user45876 @sanderlv let's continue discussion in #10

[2021-12-28 20:41] #9 closed

[2021-12-28 20:46] nbogojevic commented on #10
For this one, I'd need more detailed log (notset):

# ...
logger:
  # ... your regular logger conf
  logs:
    custom_components.midea_dehumidifier_lan: debug
    midea_beautiful_dehumidifier: notset
# ...

[2021-12-28 21:04] kskarlatos commented on #10
Hello, attached are the logs with the settings you specified
[logs.txt](https://github.com/nbogojevic/homeassistant-midea-dehumidifier-lan/files/7786338/logs.txt)

[2021-12-28 21:05] nbogojevic commented on #10
Ok I think I know where the problem is - it is in https://github.com/nbogojevic/midea-beautiful-dehumidifier/blob/main/midea_beautiful_dehumidifier/lan.py#L564 as the header of the response is not stripped.

I've published new version of that library and new version of this integration (v0.4.3). Give it a try. If it doesn't work, try to get again notset level of logs.

[2021-12-28 21:21] kskarlatos commented on #10
thanks for the fix, i think its working now
![image](https://user-images.githubusercontent.com/71981441/147607873-f79c0b2e-b54c-4519-b204-266a3173489a.png)
![image](https://user-images.githubusercontent.com/71981441/147607964-a2875c77-4830-48b7-9c31-12bde297a169.png)

[2021-12-28 22:15] PskNorz commented on #10
its working thanks, but it seems when you make changes for example humidity, fan speed, mode etc, the humidifier doesnt make the "beep" noise.

[2021-12-28 22:32] user45876 commented on #9
Will gladly come back to you tomorrow 😇

[2021-12-28 23:13] nbogojevic commented on #10
@PskNorz it may be possible to add beep, but can you open a [feature request](https://github.com/nbogojevic/homeassistant-midea-dehumidifier-lan/issues/new?assignees=&labels=&template=feature_request.md) describing how would you see that functionality - e.g. only for some entities, per device, per some actions...

We can keep this issue for protocol v2 validation.

[2021-12-28 23:19] user45876 commented on #10
No luck so far here:
Logger: midea_beautiful_dehumidifier.scanner
Source: /usr/local/lib/python3.9/site-packages/midea_beautiful_dehumidifier/scanner.py:136
First occurred: 00:03:36 (2 occurrences)
Last logged: 00:15:56

Unable to discover registered appliance name=Entfeuchter oben, id=1759218611xxxx, type=0xA1

[2021-12-29 09:35] nbogojevic commented on #10
@user45876 attach your debug logs?

[2021-12-29 13:03] user45876 commented on #10
Will do, but it is offline in the app as well - so I need to check. Can do that on the 5th of january, not at home until then.
Thanks for your work!!!

[2021-12-29 17:09] kskarlatos commented on #10
There are a few things that are not working in home assistant but can be used from midea-beautiful-dehumidifier-cli
1) continuous  mode (mode 2)
2) medium fan (it only goes from silent to turbo)
3) ion not available

[2021-12-29 17:29] Bimboboy007 commented on #9
Hello, have the same problem and also the firmware 0560004051538 on one device.
I dated to the version today but it didn't work.
Wouldn't it be easier to update the firmware.

[2021-12-29 17:38] PskNorz commented on #10
Ion for me is working, the other two having problem also

[2021-12-29 17:44] kskarlatos commented on #10
ok I enabled ion and it worked for me. Maybe it should be enabled by default?

[2021-12-29 17:46] PskNorz commented on #10
No its the normal behaviour, if you turn on Humi manually it is not on, you must turn it on

[2021-12-29 17:47] nbogojevic commented on #10
Hi @kskarlatos can you double check the mode settings:

On my side I see different behavior on my development and real-world platforms. On development one it always worked. On the production one, the update is done in entity and on device, but not visible in humidifier UI:
![image](https://user-images.githubusercontent.com/1485503/147688685-6ab7e590-33c7-4c84-8ab8-1dcb34af7e82.png)

![image](https

[2021-12-29 17:52] PskNorz commented on #10
@nbogojevic  when i turn on the fan its going back to off state

[2021-12-29 18:14] nbogojevic commented on #10
@PskNorz could you try to run command line from
https://github.com/nbogojevic/midea-beautiful-dehumidifier

[code]
You can test with different values for `--fan` argument between 0 and 100

[2021-12-29 18:15] kskarlatos commented on #10
I think something weird is happening, sometimes when i set ion to on it gets turned on but in the interface the switch goes back to off. i also can now set it to medium, when previously i couldnt.

[2021-12-29 18:17] Bimboboy007 commented on #10
Hello, everything worked, deleted and reinstalled, including the integration.

[2021-12-29 18:23] nbogojevic commented on #10
@kskarlatos that looks exactly like the problem I had with two running installations in parallel when they try to access same device, but for me, stopping one of the home assistance instances solves the issue. Can you check if you have some settings in your mobile app that can interact?

[2021-12-29 19:12] kskarlatos commented on #10
@nbogojevic I did the same as @Bimboboy007, deleted and reinstalled and now everything works perfectly. So something in the update messed things up (maybe this should be added to the readme). So, thank you again @nbogojevic for your outstanding plugin!

[2021-12-29 19:12] PskNorz commented on #10
@nbogojevic you are right i was using parallel two integrations, yours and [https://github.com/barban-dev/homeassistant-midea-dehumidifier](url).

Now seems to working, but on fan mode "Silent" the fan entity goes off

[2021-12-29 22:28] PskNorz opened #13 ""Beep" Sound and a nice card"
Τhe dehumidifier itself makes a sound every time you press on buttons as a confirmation so I think it would make sense to also have it make the sound when you control if via HA. So you know when you change an option from HA that it actually happened

Also it would be nice if we can control the humifier from a card that has all the control in it, toogle on/off, modes, fan speeds... all in one place

[2021-12-30 10:48] robertolamm opened #14 "Inventor has currently two app: InvMate II and Inventor Control. How to control the appliances divided in two account ?"
I have 3 devices of type "**Eva II Pro WI-FI**" that are driven by the app **InvMate II**
Now I bough a new "**Eva II Pro ION WI-FI**" and discovered that the app  **InvMate II** is not usable. I need to create a new account in the **Inventor Control** but the integration to discover the devices, can look only to one application.
So is not possible to drive all the four devices.

There is a soluti

[2021-12-30 11:29] nbogojevic commented on #14
Hi @robertolamm, you may try to have a look if you can pair with NetHome Plus which should be similar as InvMate but newer, and see if it discovers Eva II Pro ION Wi-Fi. I have that device and it works with NetHome.

AFAIK Inventor Control is Tuya based, while InvMate is Msmart (Midea). This integration works with second type, for first one I can only suggest using Tuya integration.

[2021-12-30 11:36] robertolamm commented on #14
Thanks a lot @nbogojevic !

I can try to pair with the nethome app but I risk to loose the three devices that I am using now with your integration?

I need to create the same user that I am using now in InvMate II ?

Thanks again for your answers and also for the wonderful job on this integration.

Cheers
Roberto

[2021-12-30 18:31] nbogojevic commented on #14
All the devices should be paired to same account. You can actually try to use your current account in InvMate with NetHome Plus.

[2021-12-30 18:33] #6 closed

[2021-12-30 18:33] #7 closed

[2021-12-30 18:35] nbogojevic commented on #13
Beep sound is hopefully coming in 0.5.0.

[2021-12-30 18:55] nbogojevic commented on #8
v0.5.0 fixes a bug, this should be working now

[2021-12-30 18:55] #8 closed

[2021-12-30 18:56] nbogojevic commented on #10
It is by design - as there are only 3 settings I assume that Silent is off (even if it is not) and all the others are on. Otherwise switch would have no effect at all.

[2021-12-30 18:57] nbogojevic commented on #13
@PskNorz v0.5.0 is out, can you test if beep sound works (it is controlled by a switch which is disabled by default)

[2021-12-30 19:08] Bimboboy007 commented on #10
I also have questions about how many devices can be integrated at the same time and how does it work with the EVA II and can I remove the devices from the cloud now?

[2021-12-30 19:12] PskNorz commented on #13
Perfect! If hymidifier goes unavaible and turn again avaible it will go off?

[2021-12-30 20:18] nbogojevic commented on #10
There is no limit in the integration but there may be a limit on Midea/msmart cloud, but I don't think so.
I have EVA ION PRO, EVA II PRO is the same thing without Ion mode. It may however have v2 protocol firmware, but that is supported now in v0.5.0.

[2021-12-30 20:30] nbogojevic commented on #13
Probably, I have not tested, and I don't really have an option to check it simply in the code without some refactoring.

[2021-12-30 21:12] Bimboboy007 commented on #10
So the following problem now occurs in the logs.
Logger: midea_beautiful_dehumidifier.lan
Source: /usr/local/lib/python3.9/site-packages/midea_beautiful_dehumidifier/lan.py:545
First occurred: 20:11:51 (18 occurrences)
Last logged: 22:08:26

Unable to send data after 3 retries, last error [Errno 32] Broken pipe for id=17592186114862 ip=192.168.178.37:6444 version=2
Unable to send data after 3 retr

[2021-12-30 22:21] PskNorz commented on #13
Ok then, what about the card idea?

[2021-12-30 22:44] nbogojevic commented on #13
I think that one will have either to wait someone else, or some other time, don't think I'll have time soon to look into that.

[2021-12-30 22:51] nbogojevic commented on #10
That is due to something on the network. Both errors are system errors, coming from Linux and not from integration itself.

First error means that socket connection was probably closed or cut on the other side (dehumidifier), second one would mean that actually dehumidifier is no longer reachable over network - which probably means it is down or that network connection between it and router was cu

[2021-12-31 01:53] sicknesz commented on #13
Nice much better support than the others, i did not know it could also report temperature.

About the Lovelace card :
Im currently in the process of modifying the default humidifier card to add support for all the options,
i've added the mode control with icons (Set, dry, smart, continuons)
it display the current humidity and i plan on adding support for controlling the fan, a tank full indicator,

[2021-12-31 06:25] PskNorz commented on #13
Nice, i would be nice to control the humidifier from one place. I will wait for your card 😎

[2021-12-31 10:10] Bimboboy007 commented on #10
Hello, a short report. Today I updated again to the latest version and the same problem as last time, update does not work.
It is best to delete everything and reinstall and restart after uninstalling and reinstalling.
In addition to the logs, the devices are not in direct contact with the Rooter, I also have 2 networks with Powerlan in operation that explains the logs.
The devices are likely to c

[2021-12-31 10:15] robertolamm commented on #14
Thank you so much @nbogojevic
I tried to pair the new device with Nethome plus, but is the same of InvMate II: same pairing method and does not work.

No problem, I will use it with a smart outlet... I know is not the same but can do what I need :)

Keep in touch
Roberto

[2021-12-31 19:48] sicknesz commented on #13
Update on the card, what's working so far and how does it looks :

![Screenshot_20211231_204114](https://user-images.githubusercontent.com/3835626/147837408-720072e2-6b83-4bac-a381-6e3f9b477699.png)

![Screenshot_20211231_204445](https://user-images.githubusercontent.com/3835626/147837439-2faaeb91-495c-4363-b3cc-00e1392ac70d.png)

![Screenshot_20211231_204501](https://user-images.githubusercontent

[2021-12-31 19:51] PskNorz commented on #13
This is what I am looking sooooo long it’s what I want!

can add power on/off option?

[2021-12-31 21:36] sicknesz commented on #13
Done :

![Screenshot_20211231_222639](https://user-images.githubusercontent.com/3835626/147839446-60a32005-3f68-4421-9e52-f46bfefd137d.png)

[2021-12-31 22:42] PskNorz commented on #13
Waiting to share it 😎

[2022-01-01 21:12] Bimboboy007 commented on #10
Hello, somehow there are still problems, because today I entered something in the file editor so that I had to restart the server, the integration was not loaded and the devices were gone only after deactivating and reactivating with a subsequent server restart helped.

[2022-01-02 03:19] sicknesz commented on #13
I'll try releasing it in the next few days.

[2022-01-02 16:07] markogw opened #15 "How to use fan. platform in lovelace?"
Hey,

I have recently bought a Midea Dehumidifier and came across this great integration. Well, actually I am struggling how to add the `fan.` platform into lovelace? There is only a switch appearing:

![image](https://user-images.githubusercontent.com/86050928/147881632-de5c3f71-28ea-4082-b52a-ada7c155f853.png)

It would be great to have an example in the documentation. I am sure this will also h

[2022-01-02 18:33] nbogojevic commented on #15
Hi @markogw, when you click on fan, you can go to control
![image](https://user-images.githubusercontent.com/1485503/147885778-b6d657e4-1377-416d-a794-316375e570c2.png)
and then you have more options
![image](https://user-images.githubusercontent.com/1485503/147885790-761bf6d1-c72d-44aa-85e3-6d8136142312.png)

Meanwhile @sicknesz is developing new card, you can see somme screenshots in #13

[2022-01-02 18:34] nbogojevic commented on #14
Thanks @robertolamm for that information.

[2022-01-02 18:35] nbogojevic commented on #10
Hi @Bimboboy007 , it is difficult have any idea without logs. Can you get logs as described above?

[2022-01-02 20:01] Bimboboy007 commented on #10
Hello, I'll get in touch and pass the log on if the error occurs again.

[2022-01-02 20:04] Bimboboy007 commented on #10
Hello, do you know someone who has already dealt with wechat mini-programs integration in HA.

[2022-01-03 18:05] u20p17 opened #16 "TargetHumidifierDehumidifierState error and most of the times I can not shut off with HA switch."
## Version of the custom_component

V0.5.0
## Configuration

[code]

## Describe the bug
Saw this error in the logs. I can see the sensor data, but most of the times when I disable the fan/humidifier with the switch in HA it changes to on state back again (after some seconds) and does not get shut off. Not sure if this is related to the error in the log file.

## Debug log

[code]

[2022-01-03 19:17] nbogojevic commented on #16
Hi @u20p17,

What model of dehumidifier do you have. Can you also get some debug logs

[code]

The other problem the error is coming from HomeKit Accessory Protocol pyhap. If you are able to activate and get some debug logs for that library and corresponding integration, we can try to understand why.

[2022-01-03 19:42] u20p17 commented on #16
Hi,
I am using the Comfee Luftentfeuchter, 20L/24h, Raumgröße ca.100m³(40m²), MDDF-20DEN7-WF, APP-fähig. (https://www.amazon.de/gp/product/B07MSL8YN7/ref=ppx_yo_dt_b_asin_title_o00_s00?ie=UTF8&psc=1)

Now i change the log level and restarted HA. Now i get a different error before the old error:

From the NetHomePlus App it is possible to control the humidifier.

[2022-01-04 08:45] nbogojevic commented on #16
Hi @u20p17, I have the same dehumidifier. The error above occurs while trying to discover the device via UDP, but there is no response.  Can you ping it from your home assistant machine?

[2022-01-04 10:30] u20p17 commented on #16
Hi,
it seems that the problem was that I gave the dehumidifier a sttic ip in my router... I now gave him a dynami ip and made a fresh install in the iOS App and HA and now it seems to work again.

regarding the homekit error attached a debug log:
[debug_log.txt](https://github.com/nbogojevic/homeassistant-midea-dehumidifier-lan/files/7806937/debug_log.txt)

Hope this helps... :)

[2022-01-04 17:55] #15 closed

[2022-01-04 19:22] MiguelCosta commented on #13
Just to share my lovelace card: https://github.com/MiguelCosta/Dehumidifier_Comfee_Card

![image](https://user-images.githubusercontent.com/645482/148112373-608dc99e-a81f-4337-bf46-9b719290d0bd.png)

[2022-01-05 12:42] Bimboboy007 commented on #16
Hello, I always have the problem, e.g. when I update HA or simply install something that requires a restart, that the devices say goodbye and the integration reports an error.
This can usually be remedied by deactivating the integration, then reactivating it and restarting the server.
Boy Stefan

[2022-01-05 18:52] sicknesz commented on #13
I'm fixing the last bug i have then i'll release it, btw MiguelCosta your card is georgous, i'm not sure mine is gonne be used after seeing this but i'll release it anyway as soon as i've fixed that damn bug

[2022-01-06 09:24] kramttocs opened #17 "Ability to reload the integration"
Sometimes I get a timeout for this integration when restarting HA. Would be nice to have the Reload option to avoid having to restart HA again and hope it doesn't timeout.

[2022-01-06 09:27] kramttocs opened #18 "ValueError: The item "60"" is not in "[40, 80]""
Logger: homeassistant.components.fan
Source: util/percentage.py:25
Integration: Fan (documentation, issues)
First occurred: 3:22:45 AM (2 occurrences)
Last logged: 3:22:45 AM

Error adding entities for domain fan with platform midea_dehumidifier_lan
Error while setting up midea_dehumidifier_lan platform for fan
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers

[2022-01-06 10:34] gsportelli opened #19 "Whole integration crashes when unplugging one device"
I get the following error when I unplug one of my dehumidifiers from the power outlet:

[code]

The problem is that, when it happens, the whole integration goes out of service reporting "Failed to set up" in the integrations page and also the other devices become unavailable.

Moreover, there is no way to reload the integration without restarting home assistant when it goes into this state.

[2022-01-06 18:30] gsportelli commented on #13
Hi sicknesz, thanks for your work!! And thanks nbogojevic for this great integration!

Here below some possible improvements for the card:

- Since you added the power button (nice idea!), maybe the "Set" mode (first switch on the top left) is not needed anymore. Indeed, in the official app there are toggles only for "Smart", "Continuous" and "Dry" modes.
- The "Smart" mode icon could be something

[2022-01-07 18:14] gsportelli opened #20 "Integration crashes after restart - it then boots correctly when restarting HA again"
## Version of the custom_component

V 0.5.0

## Configuration

Using three Inventor EVA Pro Wifi 20L with default auto configuration.

## Describe the bug

After restarting HA the integration crashes. This happened after I restarted HA a few times in a few minutes while I was writing some template sensors.

Restarting again HA the integration starts correctly.

## Debug log

[code]

[2022-01-07 19:40] sicknesz commented on #13
Hello gsportelli,
i originally had the current and target swapped like the thermostat card but it felt a bit weird not to have the big value change when dragging the slider around, so i added an options to swap them so everyone can choose how the card will display stuff so

1. it is kinda needed cause unselecting all mode won't cause the applicance to fallback to "set" as the physical buttons  doe

[2022-01-08 05:58] kramttocs opened #21 "Entity ID is 'humidifier.cube-name' instead of 'dehumidifier.cube-name'"
Entity ID is 'humidifier.cube-name' instead of 'dehumidifier.cube-name'

This is the first entity under Controls when viewing the cube in the integration.

[2022-01-09 12:34] fotis3d commented on #10
Hello I have the same Dehumidifier but my firmware in the app shows 056004051538. What kind of version is this ? Could I try this specific integration in HA or not ? Thanks

[2022-01-09 14:43] Bimboboy007 commented on #10
Doesn't matter best the latest should work.
The integration has a bit of a peculiarity, however, no matter which version, whenever I change something in HA and have to restart, I usually have to delete this integration and then reinstall it so that my devices are available again.
Sometimes even several times because it doesn't work the first time.

[2022-01-09 17:50] fotis3d commented on #10
Ok. I will try it just for the feedback to the creator then.

[2022-01-09 20:56] kramttocs opened #22 "Update the device name"
Edge case but would it make sense to update the name in HA if it gets updated in the Midea app?

[2022-01-09 20:59] kramttocs opened #23 "Running state of fan and compressor"
Is it possible to get the running state of the fan and the compressor (separately)?
Would be nice to see historical data on it.

[2022-01-09 21:06] oadslug opened #24 "Integration issues not using cloud polling in v0.5.0"
Just providing some feedback on the latest v0.5.0 update.

After installing the v0.5.0 update, HA had some problems maintaining a connection to the Midea 22 Pint Smart Dehumidifier (MAD22S1WWT) using 'Midea Air' app, which was previously working under v0.4.x. It initially failed, and then came back for a short while for some unknown reason, then failed again, and never returned (after multiple res

[2022-01-09 22:11] oadslug commented on #13
Thought I would share my card in case it's any inspiration for others. Modes on my Midea are 'set' (default), 'smart', 'continuous', 'boost' (fan high). Graphs are from mini-graph-card. Makes use of input_select and switch templates and a couple automations.

<img width="415" alt="Screen Shot 2022-01-09 at 2 01 43 PM" src="https://user-images.githubusercontent.com/8769174/148703047-1b07b872-05c2-4

[2022-01-10 15:18] Jinguba opened #25 "Inventor control app"
I have a EP3-wifi20l model and it requires Inventor control app to work.

I have tried the integration but it keeps failing, does it only work with INVmate II app?

[2022-01-10 18:05] nbogojevic commented on #25
Hi @Jinguba as far as I know, Inventor control is based on Tuya cloud platform so you could try Tuya integration to see if that works. This works only with Midea (msmart) cloud.

[2022-01-10 18:21] nbogojevic commented on #21
Entity id is generated by built-in humidifier/dehumidifer entity. I can try override it, but I'd need to rename existing ones to new.

[2022-01-10 18:22] #14 closed

[2022-01-10 18:25] nbogojevic commented on #17
Upcoming version 0.6 should allow reload without restart.

[2022-01-10 18:26] nbogojevic commented on #18
This will be fixed in upcoming version 0.6 . It seems that my understanding of capabilities reported by device is not consistent with how it behaves, so we'll now fall back to 3 presets for fan on all devices, without trying to get the correct number of presets from appliance.

[2022-01-10 18:28] nbogojevic commented on #23
Unfortunately I don't know where to get that information. I can only get appliance running or not.

[2022-01-10 18:43] kramttocs commented on #21
Thanks. Not a huge deal, just playing around this weekend and noticed so thought I'd mention it

[2022-01-10 18:44] kramttocs commented on #23
Understand. Thank you!

[2022-01-10 18:48] Jinguba commented on #25
Hello Nenad.

Thank you for your quick response. In fact it does work if you add it in
"smart life" app with tuya integration.

the card works well, unfortunately two modes are missing. I'll try to find
some help in the tuya integration page.

Regards

Ricardo Cruz

Nenad Bogojevic ***@***.***> escreveu no dia segunda,
10/01/2022 à(s) 18:05:

[2022-01-10 19:41] #25 closed

[2022-01-10 19:41] #23 closed

[2022-01-10 20:29] kramttocs commented on #13
Thanks for sharing this! I'd like to give it a try. I hate to ask but what do I do with the card code? I added all of the HACS entries but not sure where to paste your code. I am still using the default "here is everything" Overview card so haven't jumped into the Lovelace customization yet.

[2022-01-10 22:21] kramttocs opened #26 "Entity for Bucketless Mode"
If possible, please add an entity showing if in bucketless mode or not.

I would say that it should be a read only binary sensor entity but I guess it carries the same risk as the pump entity. Neither are ones you'd want to really turn on without being at the unit and making sure it's physically setup correctly :)

[2022-01-11 18:21] nbogojevic commented on #20
This is now fixed in upstream library https://github.com/nbogojevic/midea-beautiful-air/releases/tag/v0.8.1. Will include fix in version 0.6

[2022-01-11 20:12] sicknesz commented on #13
Hello guys, sorry for being late, here is the first release of the card : [Midea humidifier card](https://github.com/sicknesz/midea-inventor-card)
Normally it should auto-configure itself properly when first added to lovelace but in case if fails the card editor is working properly and you should be able to configure it using the UI, if everything fails the yaml sample code and options are all exp

[2022-01-11 20:33] nbogojevic commented on #21
There's at least one integration (HomeKit) that is not working correctly with dehumidifier if the entity doesn't start with humidifier, and possibly some others, so I'll park this one.

[2022-01-11 22:24] nbogojevic commented on #16
The error you have seen is already known bug in library used by Home Assistant
https://github.com/home-assistant/core/issues/60203

There is nothing that can be done in this integration to avoid it.

Good news is that is being fixed in just released https://github.com/ikalchev/HAP-python/releases/tag/v4.4.0 so it should come in one of the coming releases of Home Assistant.

[2022-01-11 22:24] #16 closed

[2022-01-11 22:24] #21 closed

[2022-01-15 13:47] WouterKr opened #27 "If fan preset mode is set to "Silent" the fan switch is set to off"
Hi,

Setting the fan preset mode from the HA integration to " Silent". the fan switch is set to OFF.
When the fan switch is set to ON the fan preset mode is set to "Medium".
I think that the ON/OFF switch should not have any influence on the fan mode select preset mode.
Can you change this, thanks?

Regards,

Wouter

[2022-01-15 16:52] nbogojevic commented on #27
Hi @WouterKr ,

This fan behavior is intentional. In Home Assistant fan can be on/off, but Midea dehumidifiers can't switch fan off. Originally fan toggle didn't do anything, but that is even more confusing. Most of Midea dehumidifiers will switch fan to silent mode when you tell them to switch fan to speed 0 - they have to keep air running around the dehumidifier pipes to prevent them from freezi

[2022-01-15 17:04] WouterKr commented on #27
Thanks for the explanation and sorry I missed #6.

So when I put the preset mode on "Silent" not only the switch in HA is set to off but also the fan will stop is like it should be?
The fan should be running in "Silent" mode when set but not switched off?

[2022-01-15 18:05] #27 closed

[2022-01-15 23:59] nbogojevic commented on #26
Hi @kramttocs , did some digging, I agree that it should be sensor and not something that can be remotely controlled.
Adding here for future documentation:

- If device has pump capability, error code 37 indicates that bucket is removed - reading this would be enough for sensor.
- If device doesn't have pump capability, error code 38 indicates that bucket is full
- Pump switch flag may indicate th

[2022-01-16 00:02] nbogojevic commented on #22
Hello @kramttocs , after giving it some thought, I'll skip on it as it would require regular polling of cloud API, and that's not something I'd like to do - I prefer to connect only once to get tokens and then forget about it.

[2022-01-16 01:59] kramttocs commented on #22
Makes sense. Thanks for looking at it.

[2022-01-16 01:59] #22 closed

[2022-01-20 17:02] nbogojevic commented on #17
hello @kramttocs  new version 0.6.0-beta has been published. You can see details in #32. Can you check if reload is working?

[2022-01-20 17:03] nbogojevic commented on #19
hello @gsportelli new version 0.6.0-beta has been published. You can see details in #32. Can you check if the problem has been addressed - integration should no longer go into failed setup mode?

[2022-01-20 17:05] nbogojevic commented on #24
hello @oadslug new version 0.6.0-beta has been published. You can see details in #32. Integration now has possibility to wait to discover devices locally, or use cloud while waiting. You can access details using config menu or during setup.

[2022-01-20 17:05] nbogojevic commented on #20
hello @gsportelli  new version 0.6.0-beta has been published. You can see details in #32. The upstream fix has been integrated.

[2022-01-20 17:06] nbogojevic commented on #26
hello @kramttocs new version 0.6.0-beta has been published. You can see details in #32. There is now binary sensor for tank removed mode.

[2022-01-20 17:07] nbogojevic commented on #18
hello @kramttocs new version 0.6.0-beta has been published. You can see details in #32. There are now always 3 presets for the fan.

[2022-01-20 17:46] kramttocs commented on #26
Thanks.

Not sure we have it quite nailed down.

I have:

1 unit in bucket mode (currently offline and not in HA)
1 unit in bucket mode with drain. Midea support had me put it in bucketless mode with the drain attached and then set it back on the bucket. Not sure this really qualifies as bucketless mode as the icon isn't present on the unit
1 unit in bucketless mode. Icon for bucketless mode does

[2022-01-20 17:48] kramttocs commented on #17
Looks like we are in business. Thanks!

Reload menu option is present and a popup showing it was reloaded is shown when clicked.

[2022-01-20 17:48] #17 closed

[2022-01-20 17:53] nbogojevic commented on #26
Can you put integration and library in debug logging mode and gather logs when it starts.  I'm looking for something like this:

[code]

[2022-01-20 17:55] kramttocs commented on #18
I am not sure about this one. Granted my units only have two speeds.

I see Low, Medium, and High in the dropdown but the slider above has 0, 33, 67, 100

If I turn the toggle Off I get Low and 33
If I turn the toggle On I get Medium and 67
If I move the slider to 100 I get High
If I move the slider to 67 I get High
If I move the slider to 33 I get Low and toggle Off

If I move the slider to 0 it

[2022-01-20 17:57] kramttocs commented on #26
Haven't done that before that I recall. Is that a configuration.yaml entry? If so, do you have what I can paste in there?

[2022-01-20 18:03] nbogojevic commented on #26
Yes something like this in configuration.yaml:

[code]

[2022-01-20 21:35] u20p17 opened #33 "0.6 beta errors after adding integration"
## Version of the custom_component:

0.6 beta

## Configuration

## Describe the bug
 Updated to 0.6 beta, restarted HA. Then removed the integration and added it again. After another restart I get the two errors. If I open the Konfigration of this integration it looks like this:
![image](https://user-images.githubusercontent.com/63282286/150425682-c32a9d76-825d-486a-af07-a6c6bcae1b9e.png)

## Deb

[2022-01-21 13:56] kramttocs commented on #26
Sorry, wasn't able  to get to that yesterday. I was wondering, would it be beneficial to 'Share' my dehumidifiers with you via the app? Just wonder if that might be a good way to get you the info you needed.

[2022-01-21 18:43] oadslug commented on #24
Thank you!!! I won't have a chance to test this for a few days. But I will report back once I get a chance. Feel free to close issue — whichever you prefer. Thanks.

[2022-01-22 00:38] nbogojevic commented on #33
hello @u20p17, do you have any other Midea devices on the network (e.g. air conditioner, fan)?

Meanwhile, I have updated v0.6.0-beta with some code which might try to solve the issue. Use same installation method as explained in  #32

[2022-01-22 00:42] nbogojevic commented on #26
Hi @kramttocs , thanks but I rather try without. I have updated version v0.6.0-beta with some new features. Can you install it, go into Developer Tools
![image](https://user-images.githubusercontent.com/1485503/150617306-58f5c3c8-ff35-46bb-83b6-ce76f196d39b.png)

and find your dehumidifier there. It should be something like:
![image](https://user-images.githubusercontent.com/1485503/150617394-0b79

[2022-01-22 00:45] nbogojevic commented on #18
Pushed new version which removes "speed" control but keeps presets. Can you have a look. High should be 60 and low should be 40 on your model.

[2022-01-22 03:56] kramttocs commented on #26
That's genius! Here you go:
![dehumidifiers](https://user-images.githubusercontent.com/11565750/150623814-6860b570-8c16-44f0-9047-e8a935604f32.png)

[2022-01-22 03:58] kramttocs commented on #26
Crawlspace: 50pint with pump. Bucket removed and drainhose connected. Bucketless mode icon present.

Study: 20pint. Bucket installed but drainhose connected. Bucketless mode icon NOT present

Wellhouse: 20pint. Bucket installed and in used.

[2022-01-22 04:04] kramttocs commented on #18
I think we are good! Will play around but I believe we can close this one out. Nice work.

[2022-01-22 04:04] #18 closed

[2022-01-22 07:06] u20p17 commented on #33
Hi,
no I only have one dehumidifier in my network.

I redownloaded an installed the custom component und after restart I get only one error again:

Logger: custom_components.midea_dehumidifier_lan.hub
Source: custom_components/midea_dehumidifier_lan/api.py:52
Integration: Midea Air Appliances (LAN) (documentation, issues)
First occurred: 07:58:34 (4 occurrences)
Last logged: 07:59:09

Error while

[2022-01-22 15:17] nbogojevic commented on #26
Thanks @kramttocs .

What your state shows is this:
Crawlspace has pump - or something which midea calls Pumb, but it is probably a typo error. It also has pumpswitch flag set. But if I understand correctly in bucketless mode, pump should be off. But the midea app has logic that if pumpswitch flag is on, it can activate pump !?.
All the others say they don't have "pumb" and switch flag is off.
Non

[2022-01-22 15:41] nbogojevic commented on #33
I've published new release which should output more information on when this error occurs. I'm still at loss, as to why that happens in your installation. Could you retry with a re-install?

[2022-01-22 19:03] kramttocs commented on #26
Crawlspace is the only unit with the pump. The other two don't have it.

1. No pump present in the Study unit. Just vertical drop.  The reason the bucket is on is only to raise the unit above the pipe drain on my wall. The bucket has a cover that can be removed so the hose can be installed while setting on the bucket. I was confused on how bucket-less mode worked if I wanted to drain even with the

[2022-01-22 23:28] nbogojevic commented on #26
I'd conclude that there is no info in status or capability report to say bucketless mode is active.

I can get information that bucket is removed during normal operations, and only if there is pump on device (that's when device reports error 37 and that's what sensor tank removed will indicate.
I'll add one additional switch to enable/disable pump. It is protection switch - basically to make pump

[2022-01-22 23:35] u20p17 commented on #33
Thanks for your effort! :)

Logger: homeassistant.config_entries
Source: custom_components/midea_dehumidifier_lan/hub.py:93
Integration: Midea Air Appliances (LAN) (documentation, issues)
First occurred: 00:31:53 (1 occurrences)
Last logged: 00:31:53

Error setting up entry Midea Air Appliance for midea_dehumidifier_lan
Traceback (most recent call last):
  File "/config/custom_components/midea_deh

[2022-01-22 23:42] nbogojevic commented on #33
😭 that was bug in bug... but at least got some info.

Updated with new version that should log things correctly. Thank you for testing, could you redownload again?

[2022-01-22 23:53] u20p17 commented on #33
I can not see the beta at the moment :(

![Uploading E5FFBF46-7AED-479B-8C35-6783C4BED49B.png…]()

[2022-01-22 23:57] nbogojevic commented on #33
I've republished it - seems it passed to draft instead beta.

[2022-01-23 00:32] u20p17 commented on #33
okay, up to now I only see the 0.5 for download - will try tomorrow again (Y)

[2022-01-23 07:46] u20p17 commented on #33
noe i was able to download 0.6 beta again. here is the log file:

Logger: homeassistant.config_entries
Source: custom_components/midea_dehumidifier_lan/hub.py:96
Integration: Midea Air Appliances (LAN) (documentation, issues)
First occurred: 08:25:48 (1 occurrences)
Last logged: 08:25:48

Error setting up entry Midea Air Appliance for midea_dehumidifier_lan
Traceback (most recent call last):
  Fil

[2022-01-23 10:30] nbogojevic commented on #33
I was too fast in writing code that scrubs credentials from logs.

I've added now some unit tests to check it before committing. Thanks a lot for testing. New beta should be better hopefully.

[2022-01-23 10:32] u20p17 commented on #33
Hi,
no problem - just let me know when the new beta is available for testing! And thank you very much for your efforts 👍

[2022-01-23 10:35] nbogojevic commented on #33
Should be showing now.

[2022-01-23 11:44] nbogojevic commented on #33
Thanks, I think I can try to reproduce it locally.

[2022-01-23 16:30] nbogojevic commented on #33
hello @u20p17 I've updated beta with hopefully fix this time.

If it works, you should see something like this in logs:

[code]

[2022-01-23 16:40] gsportelli commented on #19
When I disconnect one of the three devices, it goes unavailable while the others keep working, as expected. However, if in this state I restart HA, it gives the following errors and I get all three devices unavailable:

[code]

and

[code]

[2022-01-23 17:00] nbogojevic commented on #19
thanks @gsportelli , can reproduce the problem now.

[2022-01-23 17:05] u20p17 commented on #33
Hi, with the latest version i am able to add the humidifier to HA. So it seems that you fixed the bug 👍

i get one another error which seems to be related to this custom component:

Logger: pyhap.characteristic
Source: /usr/local/lib/python3.9/site-packages/pyhap/characteristic.py:210
First occurred: 18:00:18 (1 occurrences)
Last logged: 18:00:18

TargetHumidifierDehumidifierState: value=0 is an i

[2022-01-23 17:47] nbogojevic commented on #33
Thanks @u20p17 , good news.

Regarding error you've seen, that is a bug in HomeKit libary more info in #16 - can't fix it on my side. It should be fixed in one of upcoming releases of Home Assistant.

[2022-01-23 17:47] #33 closed

[2022-01-23 21:34] nbogojevic commented on #19
I have updated beta version with code that should handle unavailable devices correctly at startup. It should also be able to detect them once they come online. Can you give it a try?

[2022-01-23 21:35] nbogojevic commented on #20
This bug has been fixes. The failure after restart is treated in #19

[2022-01-23 21:35] #20 closed

[2022-01-23 21:35] nbogojevic commented on #26
I'm closing this one as I, unfortunately, don't see any way to implement it.

[2022-01-23 21:35] #26 closed

[2022-01-24 18:23] u20p17 commented on #24
Hi,
I am not sure if this error is related to this topic, but with 0.6-beta the humidifier often gets unavailable and in the log I see the following error. With the NetHome plus app everything is working fine - so I beliebe it is related the the custom component and not my network…

Logger: custom_components.midea_dehumidifier_lan.hub
Source: helpers/update_coordinator.py:219
Integration: Midea Ai

[2022-01-24 19:21] nbogojevic commented on #24
Thanks @u20p17 based on your input ans some tests, I'll make integration less strict in assuming device is off. It will now wait for 5 minutes or so without response from device to decide is is unavailable.

[2022-01-24 19:36] u20p17 commented on #24
Another error I get at the moment is the following:

Logger: custom_components.midea_dehumidifier_lan.hub
Source: custom_components/midea_dehumidifier_lan/api.py:52
Integration: Midea Air Appliances (LAN) (documentation, issues)
First occurred: 19:28:38 (32 occurrences)
Last logged: 20:32:58

Error while setting appliance {'api_version': 3, 'id': '1869169788****', 'ip_address': '192.168.0.106', 'n

[2022-01-24 21:12] nbogojevic commented on #24
Yes, the previous one may occur when there is timeout trying to open connection. Integration tries 5 times over 10 seconds and if each fails, it considers device offline. As it seems people have more instable network, I'll now add on top that this has to repeat on each attempt during 5 minutes (configurable). I think I'll trop the updated version tomorrow.

[2022-01-25 16:32] nbogojevic commented on #24
@u20p17 I've updated beta version with behavior described above. You may redownload it to test if you want.

[2022-01-25 18:06] u20p17 commented on #24
Hi,
now I see the dehumidifier twice as a device (and both are unreachable).:
![image](https://user-images.githubusercontent.com/63282286/151033840-8eca5528-daf5-49ea-ade8-e8f4ba46da9d.png)

Furthermore I get these errors in the log file:

[2022-01-25 23:04] Xxbz opened #34 "Fan entity not found"
Hi

Sorry i'm really new to Home Assistant, i installed it this evening on my QNAP NAS.
I have a ‎Comfee MDDF-20DEN7-WF dehumidifier, i have installed your integration but i can't see the fan entity

![image](https://user-images.githubusercontent.com/21091294/151074219-23421858-c600-4204-9d87-b3384c76901c.png)

What should i do ?

Thanks for help !

[2022-01-25 23:08] nbogojevic commented on #34
Hello @Xxbz , there is a regression bug in v0.6.0-beta which fails creating fan in HA 2021.12. I've updated version to fix it. Just go to HACS and redownload beta version.

[2022-01-25 23:12] nbogojevic commented on #24
Hi @u20p17 , looking at this seems that integration's configuration got corrupted somehow - token was corrupted. Can you remove the integration, re-download the beta and re-install it?

[2022-01-26 09:51] Xxbz commented on #34
Problem solved, thanks you !

Is it possible to send request to Home Assistant with Amazon Alexa ?

[2022-01-26 19:11] u20p17 commented on #24
Did it and up to now I do not get any errors (Y) Thanks!

[2022-01-26 20:13] nbogojevic commented on #34
Hi @Xxbz xxbz, I'd suggest for Alexa to look either https://www.home-assistant.io/integrations/alexa/ and linked pages https://www.home-assistant.io/integrations/alexa.smart_home/ - it is fairly complex though.

[2022-01-26 20:13] #34 closed

[2022-01-26 22:52] arcangelweb opened #35 "Home assistant 2022.01"
## Version of the custom_component
0.6.0

Home assistant 2022.01b0

## Describe the bug

Integration did not start

Este error se originó a partir de una integración personalizada.

Logger: homeassistant.config_entries
Source: custom_components/midea_dehumidifier_lan/appliance_discovery.py:333
Integration: Midea Air Appliances (LAN) (documentation, issues)
First occurred: 23:37:27 (2 occurrences)

[2022-01-27 15:32] arcangelweb commented on #35
Hello, I will inform you as the betas progress, thanks for your work.

[2022-01-28 08:47] jchasey opened #38 "Error setting up entry Midea Dehumidifiers - IndexError: index out of range"
2021.12.1 of HA installed, v0.5 of integration, Inventor Eva II Pro

Installed the integration and first time round worked fine.
On subsequent restarts however the following error is generated.

[code]

[2022-01-28 09:25] nbogojevic commented on #38
Hi @jchasey , the problem was reported in #20 and is now fixed in version v0.6.0-beta. You can see details about beta version at #32.

I will probably publish it as v0.6.0 this weekend.

[2022-01-28 12:57] jchasey commented on #38
Yes the beta sorts the issue. Thanks.

[2022-01-28 12:57] #38 closed

[2022-01-30 15:45] gsportelli commented on #19
Now it works, thanks!

[2022-01-30 15:53] #19 closed

[2022-01-30 21:17] #24 closed

[2022-01-31 20:53] arcangelweb commented on #35
**Version of the custom_component**

0.6.0

Home assistant 2022.01b4

**NEW**

After reconfiguring the integration, everything seems to work fine.

[2022-02-11 09:54] shudack opened #40 "Activate defrosting"
Hi,

Is it possible to activate the defrosting sensor?

Thanks.

[2022-02-11 19:56] kramttocs opened #41 "Fan High Preset Not Working"
Noticed that if I turn the fan toggle to Off that it sets the Cube to Low but turning the toggle on doesn't have an impact. Same with the High preset.

Steps:

HA- turn fan toggle off
Cube- confirm Low is selected (lit up)
HA- turn fan toggle on
Cube - no change
Cube - turn fan to High
HA - turn fan toggle off
Cube - Low is selected

[2022-02-12 04:17] #40 closed

[2022-02-14 21:46] oadslug commented on #41
I can confirm this issue on the Midea Air 22-Pint (MAD22S1WWT). When fan speed is low, 'preset mode' shows 'Low'. When fan speed is high, 'preset mode' show 'Auto'. Setting speed to 'High' via HA has no effect.

Here are the state attributes in developer tools when the fan is set to 'high' (boost mode on my model; using the appliance controls). Notice that the preset mode shows "Auto" (which is no

[2022-02-15 22:13] nbogojevic commented on #41
Hi @oadslug, can you send me the copy of  data from developer tools state (/developer-tools/state) for your dehumdifier.

Should look something like:
![image](https://user-images.githubusercontent.com/1485503/154158339-255b6716-8b87-40e1-8477-45b6bf3c371e.png)

I'd need one for when the boost mode and one for the low.

[2022-02-16 05:21] oadslug commented on #41
Hi @nbogojevic. Sure thing. Also including fan state.

humidifier.dehumidifier 'on'. Mode 'set'. Fan speed 'low' (boost off).

[code]

humidifier.dehumidifier 'on'. Mode 'set'. Fan speed 'high' (boost on).

[code]

fan.dehumidifier_fan 'high' (boost on).

[code]

fan.dehumidifier_fan 'low' (boost off)

[code]

[2022-02-16 22:43] #35 closed

[2022-02-16 22:44] nbogojevic commented on #41
I've published version 0.6.3 that should address the issue. Can you test it?

[2022-02-19 22:37] oadslug commented on #41
Hi @nbogojevic. Sorry for the delay. It works!!! Awesome.

I had to reconfigure some switches and automations to accommodate the new syntax. It looks like somewhere along the way they deprecated 'fan.set_speed' in favor of 'fan.set_preset_mode'. Now I understand why you changed the attribute nomenclature.

Thank you so much! Please let us know if we can do anything to contribute to your efforts.

[2022-02-21 10:04] nbogojevic commented on #41
Indeed set speed has been deprecated. Happy it works for you now.

[2022-02-23 13:36] nbogojevic commented on #41
Hi @kramttocs , just published a version that should fix it.

[2022-02-23 18:18] kramttocs commented on #41
Ah, looks like it's trying to set it to Medium with the toggle being turned on.

This is in order of what I did. Cube was always in Set mode. The first two steps were making changes on the Cube. The last two are making the changes in HA.

![image](https://user-images.githubusercontent.com/11565750/155381685-8682292f-2958-4522-af6f-a0fcbdf64546.png)

THEN

![image](https://user-images.githubusercon

[2022-03-14 11:37] sicknesz opened #46 "Dryer and Smart mode missing from available modes"
## Version v0.6.4

Entity description
[code]

## Describe the bug
Smart and Dryer mode are missing

## Nothing regarding the issue in the logs.

PS: Model is the Inventor EVA ΙΟΝ Pro Wi-Fi and it always had the 4 preset modes (Set, Continuous, Dryer, Smart)

Best Regards.

[2022-03-14 13:10] sicknesz commented on #46
[code]

[2022-03-14 13:10] sicknesz commented on #46
Do you want me to enable "debug" log level, and restart the integration so you can get the full logs ?

[2022-03-14 16:08] sicknesz commented on #46
After a restart all is back to normal, i should have tried before opening an issue, im sorry.

[2022-03-15 02:54] Drreeves23 opened #47 "Issues adding new air conditioner"
I keep getting the message below when I try and add the air conditioner.

Unable to connect to appliance (Unable to send data after 5 retries, last error timed out for 000000P0000000Q130B23747******** (1539316299****)).

How do I fix?
I am on the latest updates and it works fine on the midea app.

[2022-03-15 08:42] nbogojevic commented on #46
It's bug anyway as I think I found where is this border condition. There will be a fix coming soon.

[2022-03-15 08:44] nbogojevic commented on #47
Hi @Drreeves23, thanks for testing I'll put out a new update soon which would help debug issues with air conditioners. The component is much less stable with them, so I'll add some logic to help with it. Will be probably out by the end of the work week.

[2022-03-16 06:16] wfrottier commented on #47
Same problem and error message here. Installed both the Midea Air and Nethome Plus app to get is working, but same error message keeps popping up. Looking forward to the new update 😉

[2022-03-21 17:24] nbogojevic commented on #47
Hi @Drreeves23 @wfrottier, I've published new version. It would probably not solve the issue, but may help in detecting the cause. There is now an option to activate troubleshooting logs as described here https://github.com/nbogojevic/homeassistant-midea-air-appliances-lan#troubleshooting. You can get to advanced settings page when adding the integration and checking the box (see following image:

[2022-03-21 17:24] #46 closed

[2022-03-21 23:42] Drreeves23 commented on #47
@nbogojevic ok so I have updated and tried it again and the log it gives me I will drop below.

2022-03-21 18:39:16 ERROR (MainThread) [homeassistant.components.websocket_api.http.connection] [547975495840] Error handling message: Service service: logger.set_level data: custom_components.midea_dehumidifier_lan: DEBUG midea_beautiful: DEBUG does not match format <domain>.<name> for dictionary value

[2022-03-24 17:48] marcoahp commented on #47
Hi nbogojevic,
I have the same error:
firs error:
Unable to discover registered appliance {'id': '3738339534****', 'name': 'Buhardilla', 'sn': '000000P0000000Q1A8407D9C********', 'type': '0xAC', 'modelNumber': '-84'}
Unable to discover registered appliance {'id': '4288095348****', 'name': 'Dormitorio', 'sn': '000000P0000000Q1A8407D9E********', 'type': '0xAC', 'modelNumber': '-84'}
then this other

[2022-03-24 23:18] marianoem opened #48 "Unable to find detected appliance"
Hi All,
I'm quite noob, but I'm having a problem on the v0.70 where the login into NetHome Plus account seems fine, the devices is identified and the serial retreived but unable to detect on the network, even if I manually input the ip address and so on.

We were unable to discover an appliance called DEVICENAME with the serial number 000000P0000000Q1F0C9D1*********.

Logger: midea_beautiful.scann

[2022-03-25 09:26] marcoahp commented on #48
I have the same problem, and may be the same model of AC '-84'

Logger: midea_beautiful.scanner
Source: /usr/local/lib/python3.9/site-packages/midea_beautiful/scanner.py:175
First occurred: 24 de marzo de 2022, 19:22:06 (6 occurrences)
Last logged: 24 de marzo de 2022, 19:27:13

Unable to discover registered appliance {'id': '3738339534****', 'name': 'Buhardilla', 'sn': '000000P0000000Q1A8407D9C**

[2022-03-25 11:17] nbogojevic commented on #47
Thanks @marcoahp . Were there any more DEBUG level logs present? Normally during discovery phase if advanced debug mode has been set there should be quite a lot of DEBUG data.
https://github.com/nbogojevic/homeassistant-midea-air-appliances-lan/blob/main/assets/advanced-options-debug.png

[2022-03-25 13:04] marcoahp commented on #47
If I try to activate the advanced debug, I get and error: "Unknown error occurred" and I can't configure. I've done without this option. I will try again this evening

[2022-03-25 20:35] danbosketch opened #49 "MSmartHome Account Error"
There seems to be an issue with MSmartHome accounts. I migrated one of my devices as a test and created a new MSmartHome account, but logging in with the information leads to an error "Account does not exist".

[2022-03-25 20:43] danbosketch commented on #47
@marcoahp I have the same error while trying to enable the advanced debug. There is a timeout after 5 attempts.

[2022-03-26 12:32] nbogojevic commented on #49
Indeed there is some information that is not passed from integration to library. I'm going to have a look how to fix it.

[2022-04-01 19:22] ethan021021 commented on #49
Hi @nbogojevic! Sadly still seeing this error when trying to login with my MSmartHome account:

```Unable to connect to Midea cloud API (Cloud authentication error: this account does not exist (3102)).```

Any idea what's going on? Thanks so much!

[2022-04-02 12:21] nbogojevic commented on #49
I still haven't integrated necessary fix in home-assistant component to address it. It requires some important changes behind the scene related to how configuration is stored (and upgraded for existing users). Code's done, but needs some more testing.

[2022-04-07 08:16] jacob2826 commented on #49
Still not working with the latest version 0.8.0.
Error msg: Unable to connect to Midea cloud API (Midea cloud API error: USER_ROUTE_NOT_FOUND (10004)).

[2022-04-07 09:37] nbogojevic commented on #49
Hi @jacob2826 , can you try to get logs with advanced debug mode from advanced settings:

![image](https://user-images.githubusercontent.com/1485503/162167163-f17234d8-7b2e-44e5-9c73-7697e5577f2d.png)

The error 10004 usually occurs when MSmartHome app doesn't recognize user account. In above example (example@example.com) it would show that error.

[2022-04-07 11:30] u20p17 opened #50 "Unexpected error fetching Luftentfeuchter data: The length of the provided data is not a multiple of the block length."
## Version of the custom_component

v0.8.0

## Configuration

[code]

## Describe the bug
After restarting HA I see in the log file the following error. Nevertheless it seems that the dehumidifier is working even with this error happening.

## Debug log

[code]

[2022-04-07 11:36] nbogojevic commented on #50
Thanks for report @u20p17, is this happening often or only once?

[2022-04-07 12:14] u20p17 commented on #50
Happens from time to time:

![image](https://user-images.githubusercontent.com/63282286/162196261-204cd350-4303-46e0-9bb6-6ec1b437fd83.png)

[2022-04-07 14:45] nbogojevic commented on #48
@marianoem can you check if new release (0.8.0) fixes the issue?

[2022-04-07 14:47] nbogojevic commented on #47
@Drreeves23 @marcoahp @danbosketch @wfrottier  can you check if new release 0.8.0 fixes the issue and discovers the air conditioners. Also, advanced debug mode should provide some logs now even if you see "Unknown error occurred".

[2022-04-07 15:06] jacob2826 commented on #49
Hi @nbogojevic, thanks for replying quickly. There's something new here...

<img width="598" alt="2022-04-07 22 57 38" src="https://user-images.githubusercontent.com/4012342/162230599-47cf3be3-ba97-4c48-9904-fa8a842089ea.png">

`Logger: custom_components.midea_dehumidifier_lan.config_flow

Source: custom_components/midea_dehumidifier_lan/config_flow.py:221
Integration: Midea Air Appliances (LAN) (

[2022-04-07 15:16] jacob2826 commented on #49
Add, I was trying to login using my phone number as the account.
I can login to the App with my phone number and my password.
Am I using the wrong App???

[2022-04-07 15:26] jacob2826 commented on #49
Yeah, confirmed, I'm using the wrong app. MSmartHome is not provided in CN.
I'm going to change my account's region and try again.

[2022-04-07 18:34] nbogojevic commented on #49
Haven't tested it with non-EU region. It requires e-mail for setup, and it finds out region from the e-mail.

[2022-04-08 00:47] danbosketch commented on #47
@nbogojevic I can confirm that the air condition is detected and now shows up as an entity.

However, the controls available are:
Climate (temperature)
Show Screen (on/off)
Beep (on/off)

No options are available to turn on/off the AC, set the temperature, or change mode (fan only or AC).

Great progress though, thank you for all the effort!

[2022-04-08 01:04] danbosketch commented on #49
@nbogojevic I can confirm my MSmartHome account now works as intended in V0.8.1

[2022-04-08 06:54] marcoahp commented on #47
Yes, the new release discover the two air conditioners, but do not work properly. They show current temperatura, programmed temperature and even external temperature and a beep attribute. But they are always in dry mode. And I can't change hvac mode. And if I power off and on AC from remote, the integration do not change.

[2022-04-08 10:36] #49 closed

[2022-04-08 21:14] Mistermin commented on #48
Hi, I'm a noob as well and experience the same issue. For the record, we make use of Carrier AC's and normally we'd use the Carrier app. As I understand it, Carrier nowadays is part of Midea. The units, serial numbers and device names are recognized but unable to detect the devices, even if IPv4 adresses are provided (e.g.: "Unable to find appliance at specified IPv4 address." What am I doing wron

[2022-04-15 04:09] itkfilelor commented on #47
I too am not getting a power state
The api response appears to be the same/similar to humidifier entities:
`AirConditionerResponse {'run_status': False, 'i_mode': False, 'timing_mode': False, 'quick_check': False, 'appliance_error': False, 'mode': 1, 'target_temperature': 19.5, 'fan_speed': 102, 'on_timer_set': False, 'on_timer_hours': 0, 'on_timer_minutes': 0, 'off_timer_set': False, 'off_timer_h

[2022-04-17 21:19] jaygrovr opened #52 "cannot detect my AC unit - tried all available options with HA integration setup"
I looked through here, I cant see anyone else that has the same issue.  My ac unit is working via nethome app.

Issues not containing the minimum requirements will be closed:

- Issues without a description (using the header is not good enough) will be closed.
- Issues without debug logging will be closed.
- Issues without configuration will be closed

-->

## Version of the custom_component

 V.0

[2022-04-21 15:28] marcoahp opened #53 "now ac devices are detected, but don't work well"
The ac devices now are detected perfectly, great work!!! but they don't work well, the dry and heat functions are inverted and the power on status is missing.
I managed to get logs, the problem was tha I didn't have logger in configuration.yaml, now I have this:

logger:
  default: critical
  logs:
    custom_components.midea_dehumidifier_lan: DEBUG
    midea_beautiful: DEBUG

I'm using the last v

[2022-04-23 01:04] kilrgt commented on #53
Yes this does find the Units with ease , mine is almost perfect except one little fault .. no power on/off button,

[2022-04-23 08:37] marcoahp commented on #53
In my case, no power on off button, and heat and dry switched.

El sáb., 23 abr. 2022 3:04, kilrgt ***@***.***> escribió:

[2022-05-03 09:30] shudack commented on #48
Same with me... "Unable to find appliance at specified IPv4 address."

[2022-05-04 09:53] CineMAC-HA opened #54 "Error fetching Living Room data: Failed to perform handshake for"
## Version of the custom_component

## Configuration

Installation with HACS

Add your logs here.

Logger: custom_components.midea_dehumidifier_lan.appliance_coordinator
Source: helpers/update_coordinator.py:219
Integration: Midea Air Appliances (LAN) ([documentation](https://github.com/nbogojevic/homeassistant-midea-air-appliances-lan/blob/main/README.md), [issues](https://github.com/nbogojevic/h

[2022-05-04 10:02] CineMAC-HA commented on #54
I have found another Error in my Log.

Logger: custom_components.midea_dehumidifier_lan.appliance_coordinator
Source: custom_components/midea_dehumidifier_lan/appliance_coordinator.py:119
Integration: Midea Air Appliances (LAN) ([documentation](https://github.com/nbogojevic/homeassistant-midea-air-appliances-lan/blob/main/README.md), [issues](https://github.com/nbogojevic/homeassistant-midea-air-a

[2022-05-04 11:01] CineMAC-HA commented on #54
I reinstalled the integration and so far I haven't been able to see any failures in the log

[2022-05-04 12:15] CineMAC-HA commented on #54
Now i received this message, but the configuration with ipv4 setting was failed.

Device Living Room, which is polled using cloud, was found on address ...... It can be configured for local network access.

[2022-05-08 19:31] Mistermin commented on #48
Never mind. Fixed it.

[2022-05-11 19:50] frankyboy69 commented on #53
Also no on/off switch available

[2022-05-21 21:50] idunnololz opened #55 "Midea Cube dehumidifier always reports 0 water level"
Tested with Midea Cube dehumidifier 50 pint. The Midea app reports the correct water level however the water level sensor always reports a water level of 0.

[2022-05-21 22:02] HAUSER3 opened #56 "Air conditioner detected, no temperatue new settings accepted, on off switch is missing"
2x air conditioner recognized with 103 dongle, "shareed or split" air conditioners are not recognized, no new settings (temperature changeis not transmitted to air conditioning) are accepted,
mode change is accepted, on/off switch is missing

So far great work!

at log:
2022-05-22 12:17:09 WARNING (SyncWorker_2) [midea_beautiful.appliance] Midea B5 unknown property=b'\x1a\x02'
2022-05-22 12:17:10

[2022-05-23 12:22] nbogojevic commented on #55
Hi @idunnololz ,  can you send me the copy of data from developer tools state (/developer-tools/state) for your dehumdifier.

Should look something like:
![image](https://user-images.githubusercontent.com/1485503/169818280-69bd8d36-9d1c-4b35-93d9-c787aa1e37b9.png)

[2022-05-23 12:25] nbogojevic commented on #54
Hi @CineMAC-HA , usually I've seen broken pipe and connection reset when the network is not stable or low quality wifi.

Can you try to get more detailed logs as explained here: https://github.com/nbogojevic/homeassistant-midea-air-appliances-lan#Troubleshooting

[2022-05-23 12:31] CineMAC-HA commented on #54
Hi, thanks for your response. With the new update from your integration the issue was fixed. if the problem occurs again i will share the logs with you.

Many thanks for this great work, I love it!!! :-)

Regards
Frank

[2022-05-23 13:13] nbogojevic commented on #48
Glad it worked.

[2022-05-23 13:13] #48 closed

[2022-05-23 13:14] #54 closed

[2022-05-23 18:45] nbogojevic commented on #50
Hi @u20p17 , latest version has some additional logging when using debug mode. If you still have the issue can you see if you get more information in the logs.

[2022-05-23 18:47] nbogojevic commented on #53
@marcoahp @kilrgt @frankyboy69 can you check new version (0.8.2)?

[2022-05-23 23:50] rickytenzer commented on #55
Note that the cube only reports every 25%. I also assumed mine was borked and then it suddenly showed 25% and then 50%.

[2022-05-23 23:54] rickytenzer opened #57 "Pump not working"
Not sure if this is a limitation, but nothing happens when I activate the pump on my 50-pint cube using HA. Is this a bug or does the unit not allow for manual operation of the pump?

[2022-05-24 07:17] nbogojevic commented on #57
I think if pump has manual override, it needs to be activated directly on the appliance, as remotely activating has risk of damaging device if there's no water.

[2022-05-24 13:52] kilrgt commented on #53
@nbogojevic  OK so i did upgrade and played around with it, it seems the power button is there and does function, only thing im seeing as a issue is for example if i say switch to AC mode, it does actually change the function on the device, however soon after say with in 2 mins the entity becomes unavailable until i reload the integration. This could be a issue with my setup . attached

This error

[2022-05-26 18:52] toxic0n commented on #53
Same issue here. Danby DPA120B9IBDB (rebranded Midea). Everything works well except turning the unit on or off with the this error in the logs

2022-05-26 11:49:38 ERROR (MainThread) [custom_components.midea_dehumidifier_lan.appliance_coordinator] Unexpected error fetching Living Room data: int() argument must be a string, a bytes-like object or a number, not 'NoneType'
Traceback (most recent call

[2022-05-26 23:36] toxic0n commented on #53
I am able to workaround it by editing set_hvac_mode in climate.py

[code]

I also edited the modes to match the HVAC modes on my unit:
`_MODES_MAPPING = [
    (1, HVAC_MODE_AUTO),
    (2, HVAC_MODE_COOL),
    (3, HVAC_MODE_DRY),
    (5, HVAC_MODE_FAN_ONLY),
]

`

This works and allows my to turn the unit of. However, it will not turn it on. It seems it just tries to turn it off when I click the po

[2022-05-26 23:53] toxic0n commented on #53
I am now able to get the power on/off to work perfectly by making the following changes in climate.py

[code]

[2022-05-27 07:13] marcoahp commented on #53
Worked for me too, but the integration do not detect that AC is powered off, and I can't power on again with power button, I have to change hvac mode from properties.

[2022-05-27 12:49] qweluke commented on #53
I'm having the same issue

[2022-05-28 19:34] neuman1812 opened #58 "AC, all devices go "unavailable" when power off"
## Version of the custom_component
__version__ = "0.8.2"

## Configuration

used 192.168.1.0/24 to discover IP.

Used the HACS install.

## Describe the bug
I was able to add the integration,  but when the  AC is powered off,  all the devices go unavailable.   I have to completely remove, and then add back to get them functioning again.
![Screenshot from 2022-05-28 15-33-04](https://user-images.gi

[2022-05-29 19:02] HAUSER3 commented on #56
new massage:
Dieser Fehler wurde von einer benutzerdefinierten Integration verursacht
Logger: custom_components.midea_dehumidifier_lan.appliance_coordinator
Source: custom_components/midea_dehumidifier_lan/appliance_coordinator.py:130
Integration: Midea Air Appliances (LAN) ([documentation](https://github.com/nbogojevic/homeassistant-midea-air-appliances-lan/blob/main/README.md), [issues](https://

[2022-05-31 09:45] nbogojevic commented on #58
Thanks @neuman1812 for your logs, there is bug when mode is set to incorrect value. I will provide a workaround soon. Could you also get the device capabilities from /developer-tools/state for your Office AC. Should be something like following:

![image](https://user-images.githubusercontent.com/1485503/171144698-de5a89ce-ce00-477d-bacb-c28b336933ae.png)

[2022-05-31 17:54] toxic0n commented on #53
Sure thing:
`
Entity | State | Attributes

climate.ac | cool | hvac_modes: off, auto, cool, dry, fan_only min_temp: 16 max_temp: 32 fan_modes: Silent, low, medium, high, Full, auto preset_modes: sleep swing_modes: off, horizontal, vertical, both current_temperature: 23 temperature: 21 fan_mode: auto preset_mode: none swing_mode: vertical last_error_code: 0 last_error_time: 2022-05-31T04:26:21.1575

[2022-05-31 18:21] kilrgt commented on #53
@nbogojevic @toxic0n @marcoahp
Here ya go, thanks for the work!

hvac_modes: off, auto, cool, heat, dry, fan_only
min_temp: 61
max_temp: 89.5
fan_modes: Silent, low, medium, high, Full, auto
preset_modes: none, eco, boost, sleep
swing_modes: off, horizontal, vertical, both
current_temperature: 75
temperature: 62.5
fan_mode: auto
preset_mode: none
swing_mode: vertical
last_error_code: 0
last_error_

[2022-05-31 21:22] nbogojevic commented on #53
@toxic0n @marcoahp @kilrgt thanks for data, I discovered another bug - there's no information about capabilities.

I've published a pre-release version - it should now handle off as a separate mode (official HomeAssistant way) and should switch AC on when changing modes. It should also show some more information in development tools page

Can you give it a try?

[2022-05-31 21:23] #55 closed

[2022-05-31 21:26] nbogojevic commented on #47
Can you check how it behaves with version v0.8.9?

[2022-05-31 21:27] nbogojevic commented on #41
Hi is it working in correctly now?

[2022-05-31 21:28] nbogojevic commented on #58
Can you check how it behaves with new version v0.8.9?

[2022-05-31 21:29] nbogojevic commented on #56
Hi @HAUSER3 , can you check how it behaves with version v0.8.9?

[2022-05-31 21:32] #57 closed

[2022-05-31 22:00] danbosketch commented on #47
@nbogojevic When I turn on/off the air conditioner using the thermostat card configuration, the AC unit becomes "unavailable" and does not come back online unless I reload the integration.

[2022-06-01 00:46] neuman1812 commented on #58
Seems to be working I think.  The power option turns the device off. and it stays available.  However to turn it back on,  you need to select the function,  in my case Cooling, for it to turn back on rather than just selecting the power option again.

A separate issue has also come up. not sure if its related to this.

when attempting to set a lower target temp,  it wont adjust and approx 1min lat

[2022-06-01 06:37] marcoahp commented on #47
I can't see the update on HACS

[2022-06-01 11:08] kilrgt commented on #53
Will do, Ill post back
Thanks

[2022-06-01 11:45] nbogojevic commented on #58
Thanks a lot for the logs @neuman1812 , your AC is sending some replies I have not seen before and they confuse the integration: e.g. in your logs sometimes:

[code]

and then the responses start with 0xA1, 0xA2 and so on - that is response type. All the code I've seen knows how to parse 0xA0 or 0xC0, but not those. So I'm going to see if I can ignore those or not.

Which mobile app are you using?

[2022-06-01 22:52] diegomontanaduarte opened #59 "Home Assistant 2022.6 deprecated async_get_registry"
I'm getting this error on Logs after upgrade to Home Assistant 2022.6

Logger: homeassistant.helpers.frame
Source: helpers/frame.py:103
First occurred: 8:58:14 PM (1 occurrences)
Last logged: 8:58:14 PM

Detected integration that uses deprecated `async_get_registry` to access entity registry, use async_get instead. Please report issue to the custom component author for midea_dehumidifier_lan using

[2022-06-01 22:53] clipse2004 opened #60 "Detected integration that uses deprecated"
Hello,

After today's Homeassistant Core update I get the following message in the log:

`Detected integration that uses deprecated `async_get_registry` to access entity registry, use async_get instead. Please report issue to the custom component author for midea_dehumidifier_lan using this method at custom_components/midea_dehumidifier_lan/__init__.py, line 75: entity_registry = await async_get_r

[2022-06-02 06:01] u20p17 commented on #50
Hi, since the latest update I do not get the error anymore - I will let you know if it appears again :)

[2022-06-02 06:49] marcoahp commented on #56
How did you installed?

[2022-06-02 16:56] tadejp5 commented on #56
@marcoahp If you are installing through HACS you have to enable beta versions on this integration, then you can install v0.8.9.

[2022-06-02 18:09] toxic0n commented on #53
Hmm, I tried with the pre-release version and it turns the AC off but not back on. Here is the log of me clicking the power button

`
2022-06-02 11:07:52 DEBUG (MainThread) [custom_components.midea_dehumidifier_lan.appliance_coordinator] Updating attributes for sn=000000P0000000Q1A8407D99******** id=14733455813**** address=192.168***** version=3: {'running': False}
2022-06-02 11:07:52 DEBUG (SyncW

[2022-06-02 21:09] HAUSER3 commented on #56
I have installed Vers 0.8.9 as beta over Hacs.

[2022-06-02 21:14] HAUSER3 commented on #56
Dieser Fehler wurde von einer benutzerdefinierten Integration verursacht

Logger: custom_components.midea_dehumidifier_lan.appliance_coordinator
Source: custom_components/midea_dehumidifier_lan/appliance_coordinator.py:109
Integration: Midea Air Appliances (LAN) (documentation, issues)
First occurred: 00:19:56 (2 occurrences)
Last logged: 11:47:16

Unexpected error fetching Küche data: The length

[2022-06-03 23:34] tfolsomnh opened #61 "ECO mode is not represented"
The ECO mode is missing from the controls.  And when I manually turn on the ECO mode from the front of the AC unit, as the AC unit sleeps it temporarily loses communication with Home Assistant.  Then it comes back.  But switching the ECO mode behind the back of the HASS integration is sometimes unstable.

This is somewhere between a bug and a feature request.  To others, if you are having trouble

[2022-06-03 23:49] tfolsomnh commented on #61
Yeah.  In observing it further, the integration keeps disabling the ECO mode.  That's undesirable.  I

n this AC's case, the ECO mode acts as a sleep mode for the AC unit.  If the target temperature is reached in the room then the unit goes to sleep for a period of time.  Wakes up, blows a little air through the room, then goes back to sleep if the temperature is still at or below the target.  I b

[2022-06-04 02:31] poldim opened #62 "Failed to perform handshake and fetching data errors"
## Version of the custom_component

Running the latest version available in HACS v0.8.2

## Configuration

[code]

## Describe the bug
I have two Cooper and Hunter ACs that are connected via the USB plug.  I have connected them to my Midea Air app and can control both units without issues.  When I go through the UI setup for the configuration, it does not find any devices.  Only when I specify the

[2022-06-08 15:07] A320Peter opened #63 "Air Conditioner unit is discovered and successfully added, but nothing works"
## Version of the custom_component

v0.8.2

## Configuration

[code]

## Describe the bug
AC unit is a Midea Blanc, installed in 2018.
After I set up the integration from the UI, everything looks normal. I add my username and password and select the appropriate application (NetHome Plus). The component quickly finds my air conditioner and fetches the token and token key. The climate device shows u

[2022-06-10 15:40] noodle42069 opened #64 "Midea M_termal split addition?"
**Is your feature request related to a problem? Please describe.**
Connectivity with the Midea M_termal split heatpumps

**Describe the solution you'd like**
Connect it to my home assistant

[2022-06-16 19:57] adrianGOO opened #65 "Midea Air conditioner connecting problem"
I am trying to integrate my both Midea Air conditioners to my HA but I am getting this error

This error originated from a custom integration.

Logger: custom_components.midea_dehumidifier_lan.appliance_coordinator
Source: custom_components/midea_dehumidifier_lan/appliance_coordinator.py:130
Integration: Midea Air Appliances (LAN) (documentation, issues)
First occurred: 15:43:23 (366 occurrences)

[2022-06-18 12:12] bogosavljevic opened #66 "AC unit is discovered and added but nothing work"
Hi All,

I added without issue to the HA Comfree 7000 but device is not receiving any command from HA.
Ha is showing a set temperature and current room temperature but when you try to change it nothing happened.

Can you help me to solve it?

Thank you
Dimitrije

[2022-06-19 03:13] tucker87 opened #67 "Midea Cube Dehumidifier Water Level Always 0"
## Version of the custom_component
0.8.2

## Configuration

[code]

## Describe the bug
Water Level Sensor not updating

## Debug log

[code]

[2022-06-22 00:11] poldim commented on #63
@nbogojevic is there anything I can try?  Switching to beta v89 did not change this behaviour.
<img width="380" alt="image" src="https://user-images.githubusercontent.com/16869713/174916541-921c8968-98b4-45dc-a8b5-5f68c6f75116.png">

[2022-06-22 09:37] max-cross commented on #58
Hello guys. Looks like a similar issue on my side. Here are my logs:

[code]

Does somebody know what is the issue and how to fix this?

[2022-06-23 13:36] sarahmva opened #68 "Bypass Midea Account Login"
**Is your feature request related to a problem? Please describe.**
I have Senville units (also Midea inside). Even though they should use the same API, I am not able to connect and pass the first step in the configuration flow. My account is not known to the Midea backend.

**Describe the solution you'd like**
I do have all the information (token, key and ID) and I would like to bypass the scannin

[2022-06-28 07:54] valeriotaccardo opened #69 "Unavaible when turn off"
## Version of the custom_component

## Configuration

[code]

## Describe the bug
When turn off AC, the AC turn off but the item result unavaible

## Debug log

[code]

[2022-06-29 20:09] augustose commented on #65
I'm having the same issue

Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/update_coordinator.py", line 191, in _async_refresh
    self.data = await self._async_update_data()
  File "/usr/src/homeassistant/homeassistant/helpers/update_coordinator.py", line 150, in _async_update_data
    return await self.update_method()
  File "/config/custom_components/mide

[2022-06-29 22:06] nbogojevic commented on #64
Hi @noodle42069 , I have no idea what protocol M thermal split are using to communicate. Which app you use to connect to it?

[2022-06-30 05:47] noodle42069 commented on #64
They use the same midea app as the new midea products, the MSMARTHOME app. I saw that there was support for this app but I guess not the heat pumps specifically.

[2022-06-30 16:56] nbogojevic commented on #64
If you activate advanced debug mode as described in Troubleshooting section of [readme](https://github.com/nbogojevic/homeassistant-midea-air-appliances-lan/blob/main/README.md) you should have a line in log starting with "Not supported appliance "and then some data. Can you paste log around that line.

[2022-07-03 16:21] noodle42069 commented on #64
Hi ive tried that but i get the following error:
Unknown error occurred.

I really want to help but i dont know what to do. I now how to do some coding but i am not the best. Do you know a way to extract the information needed from the Msmarthome app?

[2022-07-08 07:19] LuckyTriple7 opened #70 "Detected integration that uses deprecated `async_get_registry` to access entity registry"
2022-07-08 08:55:00 WARNING (MainThread) [homeassistant.helpers.frame] Detected integration that uses deprecated `async_get_registry` to access entity registry, use async_get instead. Please report issue to the custom component author for midea_dehumidifier_lan using this method at custom_components/midea_dehumidifier_lan/__init__.py, line 75: entity_registry = await async_get_registry(hass)

HA 2

[2022-07-09 09:43] PskNorz commented on #70
same

[2022-07-11 18:11] nbogojevic commented on #70
@LuckyTriple7 @PskNorz can you check if problem persists in version 0.8.10?

[2022-07-11 18:11] nbogojevic commented on #65
@ardiandeva @revenpl @augustose can you check if problem persists in version 0.8.10?

[2022-07-11 18:12] nbogojevic commented on #69
@valeriotaccardo can you check if problem persists in version 0.8.10?

[2022-07-11 18:13] nbogojevic commented on #62
@poldim can you check if problem persists in version 0.8.10?

[2022-07-11 18:14] nbogojevic commented on #58
@max-cross can you check if problem persists in version 0.8.10?

[2022-07-11 18:14] nbogojevic commented on #63
@A320Peter can you check if problem persists in version 0.8.10?

[2022-07-11 18:15] nbogojevic commented on #59
@diegomontanaduarte can you check if problem persists in version 0.8.10?

[2022-07-11 18:16] nbogojevic commented on #60
@clipse2004 can you check if problem persists in version 0.8.10?

[2022-07-11 18:17] nbogojevic commented on #53
@toxic0n is there any difference when using new version 0.8.10?

[2022-07-11 18:19] nbogojevic commented on #56
@HAUSER3 can you check if problem persists in version 0.8.10?

[2022-07-11 18:19] #50 closed

[2022-07-11 19:00] PskNorz commented on #70
Seems the update fix the error i will keep an eye on it, thanks!

[2022-07-11 19:34] valeriotaccardo commented on #69
How can I see version?

Il lun 11 lug 2022, 20:12 Nenad Bogojevic ***@***.***> ha
scritto:

[2022-07-11 19:44] valeriotaccardo commented on #69
Great! It works! Godd works! Thank you so much

Il lun 11 lug 2022, 20:12 Nenad Bogojevic ***@***.***> ha
scritto:

[2022-07-11 20:10] #70 closed

[2022-07-12 10:07] diegomontanaduarte commented on #59
@nbogojevic cannot see the same error message again on the logs. It seems the issue was mitigated in version 0.8.10

[2022-07-12 10:07] #59 closed

[2022-07-13 09:16] max-cross commented on #58
Yes, after changing a few modes on the AC, it became unavailable. Also, I noticed that changing temperature also doesn't work, it just does nothing when I change the temperature

[2022-07-13 12:39] Turton opened #71 "Water level unavailable after update to 0.8.10 for Midea Cube dehumidifier"
The water sensor is seen as 'unavailable' after upgrading to the latest release 0.8.10 from the previous release 0.8.2.   All the other sensors and functions work fine.

I deleted the integration and re-added it, now the water level sensor is no longer enumerated.  It looks like the integration no longer exposes the water level to HA.  I have automation's triggered on different water the levels so

[2022-07-13 16:45] nbogojevic commented on #71
Thanks @Turton - indeed there is regression bug in detecting capabilities. I'll publish new version today.

[2022-07-13 21:38] besiktas97 opened #72 "Temp changing doesn't work"
## Version of the custom_component

## Configuration

[code]

## Describe the bug
A clear and concise description of what the bug is.

Every option for the AC is working except changing the temperature.
When I am changing it with HA, the new value isn't send to the AC. But when I change it with the app,
Also when I am changing the temp value with the app (mssmarthome) it doesn't change on HA side.

[2022-07-13 21:57] MarkusBjo commented on #72
I have the same issue on my Kaisai One 18.

[2022-07-14 11:54] peca89 commented on #72
Same for my Midea Mission Inverter MB12N8D6WIK. Integration becomes unavailable after changing temperature. At least, with the recent update turnig it on or off as well as getting the current status seems to work more reliably.

Here are some DEBUG logs in idle state (when AC is turned off and no command is being sent). I'm willing to provide logs in other circumstances (e.g. when changing temp) i

[2022-07-14 11:57] besiktas97 commented on #72
On my side its going unavailable after turning it on/off for a couple of seconds. And then its back online again. Everything is working like turning it on/off, the fan speed, the choice for heating or cooling. Except the temp change isnt working.

[2022-07-14 12:45] besiktas97 commented on #72
I just saw in HACS that there is a new version/update is out 8.11 with some good fixes. Will give it a try tonight! Thanks

[2022-07-14 19:20] besiktas97 commented on #72
Still the same issue after updating.

[2022-07-15 09:57] marcoahp commented on #72
I have the same problem, temperature do not change. All other functions work like a charm. Eco mode, very important for me, works perfectly. hvac mode, and fan speed perfect too, power off perfect. Thanks for your effort.

[2022-07-16 03:36] Turton commented on #71
Confirmed 0.8.11 resolves both temperature and [midea-humidifier-card](https://github.com/sicknesz/midea-humidifier-card) issues.  Thank you!

[2022-07-16 03:36] #71 closed

[2022-07-16 14:46] bowentz commented on #67
After the latest update it looks like I no longer have a water level entity. Do you? Mine was kind of working before, but it always indicated a lower % than the app.
![8501AEFB-4D7F-464F-926E-013294A825E6](https://user-images.githubusercontent.com/61032381/179359740-f6eb8206-7059-42f3-a466-e7a6d902ec82.jpeg)

[2022-07-16 14:57] tucker87 commented on #67
It actually worked fine! I was just expecting updates at more than the 25/50/75/100 levels. Thought I had closed this already.

[2022-07-16 14:57] #67 closed

[2022-07-19 00:14] ddawley opened #73 "binary_sensor.pump_is_running"
Thank you to all who have contributed to this project.  This is a great integration.

One enhancement I would love to see is a sensor that reports when the pump on my dehumidifier is actually running?  I want to avoid shutting the unit off when the pump is running.

[2022-07-20 16:15] Jurrjuna commented on #72
Also same issue here, temperature will not change. All other functions work.

[2022-07-20 16:54] nbogojevic commented on #72
@Jurrjuna @marcoahp @besiktas97 do you have slider to change temperature? If so could you try to modify temperature while having debug logs active and paste logs here?

[2022-07-20 17:01] besiktas97 commented on #72
No I dont have sliders to change the temp. I am using simple thermostat card from HACS.

[2022-07-21 08:20] peca89 commented on #72
@nbogojevic
OK, here are some logs after various actions. Some with errors, some with correct results. I tried to add comments to logs. Feel free to ask for further information.

In short:
* temp control does not work at all
* mode control works fine, but HA updates inconsistenly (sometimes crash, sometimes status reports all zeroes) but recovers in a minute or so
* turbo/boost control seems to co

[2022-07-21 13:30] Tijgerd commented on #72
I'm having the same issue

[2022-07-22 07:59] Tijgerd commented on #63
same issue, problem still persists in 0.8.11

[2022-07-25 13:21] DevMig82 commented on #72
Same here. Everything else work fine.

[2022-07-26 22:10] toxic0n commented on #53
It still won't turn ON with the power button, however I can just click the Cooling mode button and it fires right up. Good enough for me.

Here is the code if you are curious:

`2022-07-26 15:09:39 DEBUG (MainThread) [custom_components.midea_dehumidifier_lan.appliance_coordinator] Updating attributes for sn=000000P0000000Q1A8407D99******** id=14733455813**** address=192.168***** version=3: {'runni

[2022-07-27 07:40] IGaMbLeRI opened #74 "Missing Device Controls / Entities are not added correctly with Inventor O3MVI32-09WiFiR"
I have 3 Air Conditioning units:
2 x **Inventor O3MVI32-09WiFiR**
1 x **Inventor O3MVI32-18WiFiR**

I initially set them all up on "Midea AC LAN" integration, however, most of the extra functionality is missing, which lead me to try this integration. I removed "Midea AC LAN" integration of my Office unit (Inventor O3MVI32-09WiFiR) and added "Midea Air Appliance (LAN)" integration. NetHome Plus acc

[2022-07-27 21:40] danbosketch commented on #47
My previously mentioned issues appear to now be fixed. Thanks for the hard work!

[2022-07-29 09:28] marcohald opened #75 "Comfee Smartcool 7000 Failed to get TCP key"
## Version of the custom_component

0.8.11

## Describe the bug
This Error occurs when I try to add a Comfee Smartcool 7000 with the Wizard.
If a network trace or anything else is needed, I'm happy to provide it.

## Debug log

[code]

[2022-07-31 11:51] jasniec commented on #72
Same here, OSK-105, Rotenso Versu AC, v0.8.11

[2022-08-05 07:41] vinciee commented on #72
I'm having the same issue with IDEMA AC

[2022-08-07 19:02] besiktas97 commented on #72
Will there be a fix for this one? Otherwise I need to check for something else after my vacation to let it work.

[2022-08-18 05:03] draftydesert277 commented on #1
How did you fix this? I'm having the same issue.

[2022-08-23 20:34] #47 closed

[2022-08-24 17:27] nbogojevic commented on #72
@peca89 thanks a lot for effort put in obtaining logs. It helped me understand why it works on some models. I've relied on reply from update command packet to read new state, but different models of air conditoners send reply in different formats. However, status query gives always same format, so now I'm re-issuing status query for all air conditioners.

I'll do some additional testing to see if

[2022-08-24 17:27] #69 closed

[2022-08-24 17:29] nbogojevic commented on #66
Closing as investigation is ongoing in#72

[2022-08-24 17:30] nbogojevic commented on #63
Closing as investigation is ongoing in#72

[2022-08-24 17:30] #63 closed

[2022-08-24 17:30] nbogojevic commented on #60
Normally this is fixed now.

[2022-08-24 17:30] #60 closed

[2022-08-24 17:31] nbogojevic commented on #53
Closing as further investigation is ongoing in#72

[2022-08-24 17:31] #53 closed

[2022-08-24 17:32] nbogojevic commented on #56
Closing as investigation is ongoing in #72

[2022-08-24 17:32] #56 closed

[2022-08-24 17:34] nbogojevic commented on #58
Closing as investigation is ongoing in #72

[2022-08-24 17:34] #58 closed

[2022-08-24 17:34] nbogojevic commented on #52
Normally this has been fixed.

[2022-08-24 17:34] #52 closed

[2022-08-24 17:37] nbogojevic commented on #61
Hi @tfolsomnh, can you send me the copy of  data from developer tools state (/developer-tools/state) for your dehumdifier.

Should look something like:
![image](https://user-images.githubusercontent.com/1485503/154158339-255b6716-8b87-40e1-8477-45b6bf3c371e.png)

[2022-08-24 18:53] besiktas97 commented on #72
Thank you for your effort @nbogojevic.
The sync from the AC to HA is working fine now, except the temp change from HA to AC isn't still working.
I've some loggings that I have after trying to change temp in HA:

2022-08-24 20:36:24.633 DEBUG (MainThread) [midea_beautiful] Library version=0.9.15
2022-08-24 20:36:24.633 DEBUG (MainThread) [midea_beautiful] Scanning for midea dehumidifier appliances

[2022-08-24 22:04] jasniec commented on #72
Hi, thanks for following this issue, in my case, there is no change either.
How can I acquire logs to send you?

[2022-08-25 11:35] besiktas97 commented on #72
Hello,

Add those lines to your configuration.yaml file and restart HA.

logger:
  # Begging of lines to add
  logs:
    custom_components.midea_dehumidifier_lan: debug
    midea_beautiful: debug
  # End of lines to add

After HA has been restart, you need to go with samba share to your config folder and look at the filenam: Home assistant log.txt. In that file you can search for the name that beg

[2022-08-25 11:48] Jurrjuna commented on #72
Just tried to change temp from 20 to 19. After 2 sec. it changes back to 20.

2022-08-25 13:40:56.630 WARNING (SyncWorker_0) [homeassistant.loader] We found a custom integration midea_dehumidifier_lan which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant
2022-08-25 13:41:07.321 DEBUG (SyncWorke

[2022-08-25 17:56] besiktas97 commented on #72
Below is the default log what I now see in HA:

This error originated from a custom integration.

Logger: custom_components.midea_dehumidifier_lan.appliance_coordinator
Source: custom_components/midea_dehumidifier_lan/appliance_coordinator.py:119
Integration: Midea Air Appliances (LAN) (documentation, issues)
First occurred: 09:45:53 (5 occurrences)
Last logged: 19:49:26

Error fetching Airco gang

[2022-08-26 08:32] peca89 commented on #72
@nbogojevic Thank you for the new version and your effort. However, the new version works a bit worse than previous :) Run status sporadically changes to false while AC is running steadily. My observations are below:

Air conditioner running without any change, but run_status sometimes changes to false for no reason:
[code]

At 10:09:44 status was reported correctly. At 10:10:00 target temperature

[2022-08-29 07:15] screem20056 commented on #72
Same issue here with midea airconditioner
Not able to change the temperature from HA although if changed by remote it changes on HA

[2022-09-14 21:48] besiktas97 commented on #72
For me this issue can be closed. I found a better integration through HACS with more entities and full control of my AC. It works great also setting it up with auto discover is great.

[2022-09-14 21:56] screem20056 commented on #72
What is the other one name

[2022-09-14 21:57] screem20056 commented on #72
What is the other integration name

[2022-09-14 21:59] besiktas97 commented on #72
This is the link to the integration:

https://github.com/georgezhao2010/midea_ac_lan

[2022-09-15 09:13] #72 closed

[2022-09-15 09:16] peca89 commented on #72
I don't think it is OK to close this! We have here put work into fixing *this* integration, not into resolving OPs problem. We should let the developper decide what to do with this issue.

[2022-09-16 21:40] nbogojevic commented on #72
I may continue to work on the issue if there are people interested in it. The other integration seems to cover quite a number of midea devices and is very interesting for ACs. I propose people vote with up/down on this comment. Up if they want me to continue work on it/down if they think that switching to other integration is better way forward.

[2022-09-20 14:45] valeriotaccardo opened #80 "Wrong italian translation in dashboard-card"
## Version of the custom_component

## Configuration

[code]

## Describe the bug
In heat mode display "Raffreddamento". Please write "Riscaldamento"
In dry mode display "Raffreddamento". Please write "Deumidificatore"
In fan_only mode display "Raffreddamento". Please write "Ventilatore
![heat](https://user-images.githubusercontent.com/91949725/191289089-baa915f3-91c9-451c-8699-3ff21a970eb0.png)
!

[2022-10-11 07:28] neuman1812 commented on #58
I don't see capabilities data here.  It's everything else.

On Tue, May 31, 2022, 5:45 AM Nenad Bogojevic ***@***.***>
wrote:

[2022-10-28 21:28] James3UK commented on #68
This one works well without needing the cloud:
https://github.com/georgezhao2010/midea_ac_lan

[2022-11-01 01:31] flyoffacliff opened #81 "Changing temperature doesn't work but everything else does"
I have two different Midea based mini split units and unfortunately this integration doesn't work right with either of them.

With the newer unit, the temperature updates in home assistant but doesn't change on the unit. With the older unit, trying to set any temperature in home assistant makes the unit jump down to 62 (which shows up as 62.5 in home assistant). Most of the other features work fin

[2022-11-01 02:35] flyoffacliff commented on #81
Here is the log. I could not get the instructions you gave for setting the log level to work, but hope it still helps. Let me know if you need anything else. I also noticed the IR remotes included with the different units are not fully compatible.

`2022-10-31 20:35:28.306 WARNING (SyncWorker_0) [homeassistant.loader] We found a custom integration midea_dehumidifier_lan which has not been tested b

[2022-11-01 02:39] flyoffacliff commented on #81
Here is the state for one of the units. Maybe we can sniff the response from Midea cloud to debug the error? How did you do this when developing it?
[code]

[2022-11-01 04:00] flyoffacliff opened #82 "Question: How do you send commands without making the unit beep?"
I like that feature about this integration. I have to use another integration though because this one does not work right with my units. But that one makes the unit beep, just like the official app. How did you make this integration silent?

[2022-11-07 14:30] 21-Jailbraik-21 commented on #81
The same for me, a solution would be nice.

[2022-11-11 19:35] tetraxasaa opened #84 "Thermostat Shows wrong 0 for temp for a seconds"
Hello i am having and issue
After a 1-2 minutes appears that screen and bring back in seconds later the correct one .
Is it something i can do to correct the problem ?

![image](https://user-images.githubusercontent.com/107670715/201416511-6cfee4b4-f44d-4e2a-8575-8636a054c596.png)

[2022-11-14 20:56] poldim commented on #62
Hey, just tried to see if this works this weekend and it appeared to bring in my two mini-splits on v8.12.

Unfortunately, looking at the devices from the past day it does not appear to be communicating reliably.  Are you aware if anything can be done to improve the stability of these devices?  In parallel, I will do some checking to make sure it's not falling off of my WiFi network this week.

<i

[2022-11-15 15:42] poldim opened #85 "Climate component says cooling, when actually heating"
## Version of the custom_component
8.12

## Configuration

[code]

## Describe the bug
The climate component reports that the device is cooling when it's actively set to heating and is in fact producing heat.

![image](https://user-images.githubusercontent.com/16869713/201962203-acb5d95e-ea3d-43da-9827-e3604dec825f.jpeg)

## Debug log

[code]

[2022-11-16 19:54] louispires commented on #81
Also have the same issue.

Seems like of I reload the integration, it works for a short period. But then the temperature gets stuck on the previous value and I can no longer change it.

It briefly changes in Home Assistant, but the command does not get sent to the AC

All other functions work great.

[2022-11-16 21:15] poldim commented on #62
The mini split was roaming to an AP two floors away.  I've locked it to the local AP and this solved the AP going unavailable.

[2022-11-16 21:15] #62 closed

[2022-11-25 04:16] jayscovill opened #86 "State of Danby/Midea dehumifiers when on reflects target humidity instead of 'on'"
## Version of the custom_component
.8.12

## Describe the bug
I am using a Danby DDR050BCWDB-ME-6 which is as far as I can tell a clone of the Midea Cube 50 pint model.

I have registered the dehumidifier with the Midea app rather than the Danby App.

The humidifier is recognized by the integration and works as expected.  However I've noticed that the state for the humidifier.<name> entity appears

[2022-11-25 04:21] jayscovill commented on #86
![Uploading Screenshot 2022-11-24 at 11.18.01 PM.png…]()

[2022-11-25 04:21] jayscovill commented on #86
![Uploading Screenshot 2022-11-24 at 11.21.04 PM.png…]()

[2022-11-25 13:32] jayscovill commented on #86
[
<img width="1093" alt="Screenshot 2022-11-24 at 11 21 04 PM" src="https://user-images.githubusercontent.com/30603659/203996355-2fedbd6c-faa7-415a-b00d-32a2601fb906.png">
](url)